<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Add Product</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
        <form th:action="@{'/products/add'}" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
                <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
                <li class="breadcrumb-item active">Product Addition</li>
            </ol>
            <div class="box_general padding_bottom">
                <div class="header_box version_2">
                    <span style="color: red; display: block; margin-bottom: 5px;" th:if="${errorMessageProduct!=null}" th:text="${errorMessageProduct}"></span>
                    <h2>
                        <i class="fa fa-list"></i>
                        Add a New Product
                    </h2>
                </div>
                <div class="wrapper_indent">
                    <div class="form-group">
                        <label>Company</label>
                        <div class="styled-select">
                            <select name="companyId" required title="Company">
                                <option th:if="${currentUser.role.name == 'OWNER' && currentUser.id == company.userOverview.id}"
                                        th:each="company :${companies}"
                                        th:value="${company.id}" th:text="${company.name}">
                                </option>
                                <option th:if="${currentUser.role.name == 'ADMIN'}"
                                        th:each="company:${companies}"
                                        th:value="${company.id}" th:text="${company.name}">
                                </option>
                            </select>
                        </div>
                        <span style="color: red" th:if="${productErrors != null}" th:text="${productErrors.get('companyId') }"></span>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <div class="styled-select">
                            <select name="productCategoryId" required title="Category">
                                <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>
                    <span style="color: red" th:if="${productErrors != null}" th:text="${productErrors.get('productCategoryId') }"></span>
                </div>

                <div class="strip_menu_items">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" name="name" class="form-control" required title="Name"/>
                                        <span style="color: red" th:if="${productErrors != null}" th:text="${productErrors.get('name') }"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" name="price" class="form-control" min="1" required title="Price"/>
                                        <span style="color: red" th:if="${productErrors != null}" th:text="${productErrors.get('price') }"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Count</label>
                                        <input type="number" name="productCount" class="form-control" value="1" required min="1" title="Product Count"/>
                                        <span style="color: red" th:if="${productErrors != null}" th:text="${productErrors.get('productCount') }"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea type="text" name="description" class="form-control" maxlength="300"
                                                  style="width: 500px; resize: none;" required title="Description"></textarea>
                                        <span style="color: red" th:if="${productErrors != null}" th:text="${productErrors.get('description') }"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label></label>
                                        <input type="file" class="form-control.dropzone" name="productImage" id="productImageInput" multiple style="display: none;"
                                               accept=".jpeg, .jpg" onchange="validateFileSize(this)" title="Product Image">
                                        <button type="button" class="btn btn-primary" style="background-color:#589442;"
                                                onclick="chooseImage()">Choose a JPEG image for the product
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p><input type="submit" value="Save" class="btn_1 medium" style="margin-left: 30px;"></p>
    </form>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
<script>
function chooseImage() {
        document.getElementById('productImageInput').click();
    }
function validateFileSize(input) {
        const maxFileSizeMB = 5;
        const maxFileSizeBytes = maxFileSizeMB * 1024 * 1024;
        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            if (files[i].size > maxFileSizeBytes) {
                alert('File size exceeds the maximum limit of ' + maxFileSizeMB + 'MB');
                input.value = '';
                return;
            }
        }
    }
</script>
</body>
</html>