<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Edit Information</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <form th:action="@{'/products/edit/' + ${product.id}}" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Edit Products Information</li>
            </ol>
            <div class="box_general padding_bottom">
                <span th:if="${errorMessageProduct != null && errorMessageProduct.contains('lower')}" th:text="${errorMessageProduct}" style="color: red; display: block; margin-bottom: 5px;"></span>
                <span th:unless="${errorMessageProduct != null && errorMessageProduct.contains('lower')}" th:text="${errorMessageProduct}" style="color: green; display: block; margin-bottom: 5px;"></span>

                <div class="header_box version_2">
                    <h2><i class="fa fa-list"></i>Edit Product Information</h2>
                </div>
                <div class="wrapper_indent">
                    <div class="form-group">
                        <label>Company</label>
                        <div class="styled-select">
                            <select name="companyId" title="Company">
                                <option th:if="${currentUser.role.name == 'OWNER' && currentUser.id==company.userOverview.id}"
                                        th:each="company:${companies}"
                                        th:value="${company.id}"
                                        th:text="${company.name}"
                                        th:selected="${company.id eq product.companyOverview.id}">
                                </option>
                                <option th:if="${currentUser.role.name == 'ADMIN'}"
                                        th:each="company:${companies}"
                                        th:value="${company.id}"
                                        th:text="${company.name}"
                                        th:selected="${company.id eq product.companyOverview.id}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="wrapper_indent">
                    <div class="form-group">
                        <label>Category</label>
                        <div class="styled-select">
                            <select name="productCategoryId" title="Category">
                                <option th:each="category: ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"
                                        th:selected="${category.id eq product.productCategoryOverview.id}">
                                </option>
                            </select><br>
                        </div>
                    </div>
                </div>

                <div class="strip_menu_items">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="row">
                                <div class="col-md-8">
                                    <span style="color: red" th:if="${productErrors != null}" th:text="${productErrors.get('name') }"></span>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" name="name" th:value="${product.name}" class="form-control" required title="Name"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <span style="color: red" th:if="${productErrors != null}" th:text="${productErrors.get('price') }"></span>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" name="price" th:value="${product.price}" class="form-control" min="1" required title="Price"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <span style="color: red" th:if="${productErrors != null}" th:text="${productErrors.get('productCount') }"></span>
                                    <div class="form-group">
                                        <label>Count</label>
                                        <input type="number" name="productCount" th:value="${product.productCount}" class="form-control" min="1" required title="Count"/>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea name="description" th:text="${product.description}" th:placeholder="${product.description} ? '' : 'Description...'"
                                                  class="form-control" style="resize: none" title="Description"></textarea>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label></label>
                                        <input type="file" class="form-control.dropzone" name="productImage" id="productImageInput" multiple style="display: none;"
                                               accept=".jpeg, .jpg" onchange="validateFileSize(this)" title="Product Image">
                                        <button type="button" class="btn btn-primary" style="background-color:#589442;"
                                                onclick="chooseImage()">Choose a JPEG image for the product
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn_1" value="Edit">
        </div>
    </form>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
<script>
function chooseImage() {
        document.getElementById('productImageInput').click();
    }
function validateFileSize(input) {
        const maxFileSizeMB = 5;
        const maxFileSizeBytes = maxFileSizeMB * 1024 * 1024;
        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            if (files[i].size > maxFileSizeBytes) {
                alert('File size exceeds the maximum limit of ' + maxFileSizeMB + 'MB');
                input.value = '';
                return;
            }
        }
    }
</script>
</body>
</html>