<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Products</title>
    <th:block th:insert="fragments/fragment::headerImport"></th:block>
    <link href="/css/listing.css" rel="stylesheet">
    <link href="/css/detail-page.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<main>
    <div class="page_header element_to_stick">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
                    <div class="breadcrumbs blog">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a th:href="@{'/products'}">Products</a></li>
                            <li><a th:href="@{'/companies'}">Companies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="height: 300px; text-align: center" th:if="${products.content.isEmpty()}">
        <h6>No products found.</h6>
    </div>
    <span style="color: red; display: block; margin-bottom: 5px; margin-left: 50px;" th:if="${errorMessageAddToBasket != null}" th:text="${errorMessageAddToBasket}"></span>
    <span style="color: green; display: block; margin-bottom: 5px; margin-left: 50px;" th:if="${basketSuccess}">Product added to basket successfully</span>
    <div class="container margin_30_40" th:if="${!products.content.isEmpty()}">
        <div class="row">
            <aside class="col-lg-3" id="sidebar_fixed">
                <div class="clearfix">
                    <div class="sort_select">
                        <select name="sort" id="sort" onchange="location=this.value">
                            <option value="">Sort by:</option>
                            <option value="/products/?sort=price_asc">Price: Low to High</option>
                            <option value="/products/?sort=price_desc">Price: High to Low</option>
                        </select>
                    </div>
                    <a href="#0" class="open_filters btn_filters"><i
                            class="icon_adjust-vert"></i><span>Filters:</span></a>
                </div>
                <div class="filter_col">
                    <div class="inner_bt"><a href="#" class="open_filters"><i class="icon_close"></i></a></div>
                    <div class="filter_type">
                        <h4><a class="opened">Shop by Category</a></h4>
                        <div class="collapse show" id="filter_1" th:each="category:${categories}">
                            <ul>
                                <li>
                                    <a th:href="@{/products/(id=${category.id})}">
                                        <span th:text="${category.name}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" th:each="product:${products.content}">
                        <div class="strip">
                            <ul>
                                <li th:if="${currentUser != null && (currentUser.role.name == 'ADMIN' || (currentUser.role.name == 'OWNER' && currentUser.id == product.userOverview.id))}">
                                    <strong th:text="'Count ' + ${product.productCount}"></strong>
                                </li>

                                <li style="color: orange" th:if="${product.productCount < 4 && product.productCount > 0 && (currentUser == null ||
                                (currentUser != null && (currentUser.role.name == 'CUSTOMER' || (currentUser.role.name == 'OWNER' && currentUser.id != product.userOverview.id))))}">
                                    <span th:text="|Limited stock: Only a few left|"></span>
                                </li>

                                <li style="color: red" th:if="${product.productCount == 0 && (currentUser == null ||
                                (currentUser != null && (currentUser.role.name == 'CUSTOMER' || (currentUser.role.name == 'OWNER' && currentUser.id != product.userOverview.id))))}">
                                    <span th:text="|Out of stock|"></span>
                                </li>
                            </ul>
                            <br>
                            <figure>
                                <img th:if="${product.pictures != null && !product.pictures.isEmpty()}"
                                     th:src="@{/products/getImages(fileName=${product.getPictures().get(0)})}"
                                     class="img-fluid lazy">

                                <img th:if="${product.pictures == null || product.pictures.isEmpty()}"
                                     src="/img/productImage.png">

                                <a href="" class="strip_info">
                                    <small th:text="${product.productCategoryOverview.name}"></small>
                                    <div class="item_title">
                                        <h3 th:text="${product.name}"></h3>
                                    </div>
                                </a>
                            </figure>
                            <ul>
                                <li><span th:text="${product.price}"></span></li>
                            </ul>
                            <div>
                                <a th:href="@{'/baskets/add/'+ ${product.id}}"><i class="icon_heart"></i>Put in Basket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="pagination_fg">
                    <tr th:if="${products.totalPages > 0}">
                        <th th:each="pageNumber : ${totalPages}" class="page-item">
                            <a class="active" th:href="@{/products/(size=${products.size}, page=${pageNumber})}" th:text="${pageNumber}" th:class="${pageNumber==products.number + 1} ? active"></a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="fragments/fragment::footer"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<th:block th:insert="fragments/fragment::commonScripts"></th:block>
<script src="/js/sticky_sidebar.min.js"></script>
<script src="/js/specific_listing.js"></script>
<script src="/js/specific_detail.js"></script>
</body>
</html>