<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Basket</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Basket</li>
        </ol>
        <div style="height: 300px; text-align: center" th:if="${baskets == null || baskets.content.isEmpty()}"><br>
            <h7>No Items in Basket Yet.</h7>
        </div>
        <div class="card mb-3" th:if="${baskets != null && !baskets.content.isEmpty()}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="basket: ${baskets}">
                            <div>
                                <tr>
                                    <td th:text="${basket.productOverview.name}"></td>
                                    <td th:text="${basket.itemQuantity}"></td>
                                    <td th:text="${basket.itemQuantity*basket.productOverview.price}"></td>
                                </tr>
                            </div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>