<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Admin Events</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Events</li>
        </ol>
        <div class="box_general">
            <div class="header_box">
                <div style="height: 300px; text-align: center" th:if="${events.content.isEmpty()}"><br>
                    <h7>No events found.</h7>
                </div>
                <h2 class="d-inline-block" th:if="${!events.content.isEmpty()}">List of Events</h2>
                <span style="color: red; display: block; margin-bottom: 5px;" th:if="${errorMessageEdit!=null}" th:text="${errorMessageEdit}"></span>
                <span style="color: red; display: block; margin-bottom: 5px;" th:if="${errorMessageDelete!=null}" th:text="${errorMessageDelete}"></span>
                <span th:if="${updateSuccess != null}" style="color: green; display: block; margin-bottom: 5px;" th:text="${updateSuccess}"></span>
            </div>
            <div class="list_general">
                <ul th:each="event:${events.content}">
                    <li>
                        <figure>
                            <img th:if="${event.pictures != null && !event.pictures.isEmpty()}"
                                 th:src="@{/events/getImages(fileName=${event.pictures.get(0)})}">
                            <img th:if="${event.pictures == null || event.pictures.isEmpty()}"
                                 src="/img/imageGCG.png">
                        </figure>
                        <h4 th:text="${event.name}"></h4>
                        <ul class="booking_list">
                            <li>
                                <strong>Organizing Company</strong>
                                <strong th:text="${event.companyOverview.name}"></strong>
                            </li>
                            <li>
                                <strong>Date And Time</strong>
                                <strong th:text="${#temporals.format(event.eventDateTime, 'dd-MM-yyyy HH:mm')}"></strong>
                            </li>
                            <li>
                                <strong>Participation Price</strong>
                                <strong th:text="${event.price}"></strong>
                            </li>
                            <li>
                                <strong th:text="${event.description}"></strong>
                            </li>
                        </ul>
                        <ul class="buttons">
                            <li><a th:href="@{'/events/edit/'+${event.id}}" class="btn_1 gray">
                                <i class="fa fa-fw fa-pencil"></i>
                                Edit
                            </a>
                            </li>
                            <li><a th:href="@{'/events/delete/'+${event.id}}" class="btn_1 gray delete">
                                <i class="fa fa-fw fa-times-circle-o"></i>
                                Cancel Event
                            </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <table th:if="${!events.content.isEmpty()}">
                <tr th:if="${events.totalPages > 0}">
                    <th class="pagination" th:each="pageNumber:${totalPages}">
                        <a th:href="@{/events/events(size=${events.size}, page=${pageNumber})}" th:text="${pageNumber}" th:class="${pageNumber==events.number + 1} ? active"></a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>