<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Products</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="/"><img src="/img/logo_sticky.svg" alt="" width="142" height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="/users/home">
                    <i class="fa fa-fw fa-user"></i>
                    <span class="nav-link-text" th:if="${currentUser != null}" th:text="${currentUser.firstName ?: ''}"></span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav><br>
<div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Products</li>
        </ol>
        <div style="height: 300px; text-align: center" th:if="${#lists.isEmpty(products)}"><br>
            <h7>There are no products available at the moment.</h7>
        </div>
        <span style="color: red; display: block; margin-bottom: 5px;" th:if="${errorMessageProduct!=null}" th:text="${errorMessageProduct}"></span>
        <div class="box_general" th:if="${not #lists.isEmpty(products)}">
            <div class="header_box">
                <h2 class="d-inline-block">Products</h2>
            </div>

            <div class="list_general" th:each="category:${categories}">
                <h6 th:text="${category.name}"></h6>
                <article class="list_general">
                    <ul th:each="product:${products}" th:if="${category.id==product.productCategoryOverview.id}">
                        <li>
                            <figure>
                                <img th:if="${product.pictures != null && !product.pictures.isEmpty()}"
                                     th:src="@{/products/getImages(fileName=${product.getPictures().get(0)})}">
                                <img th:if="${product.pictures == null || product.pictures.isEmpty()}"
                                     src="/img/HL_mindful-recycling.jpg">
                            </figure>

                            <small class="info_content" th:text="'Company - '+${product.companyOverview.name}"/>&nbsp;&nbsp;

                            <comment th:if="${currentUser.role.name == 'ADMIN'}" class="info_content">
                                <small th:text="${product.userOverview.firstName}"/>
                                <i class="fa fa-fw fa-user"></i>
                            </comment>

                            <h4 class="main_title" th:text="${product.name}"></h4>

                            <p th:text="'Description' + ${product.description}"/>

                            <comment class="text-info" th:text="'Price '+ ${product.price} + ', '"/>

                            <comment th:if="${currentUser.role.name == 'ADMIN' || currentUser.role.name == 'OWNER'}"
                                     class="text-info" th:text="'Count '+ ${product.productCount}"/>

                            <div class="button-container" style="margin-bottom: 20px;">
                                <a th:href="@{'/products/edit/'+ ${product.id}}" class="btn_1 gray">
                                    <i class="fa fa-fw fa-eye"></i>
                                    Edit
                                </a>
                            </div>

                            <div class="button-container" style="margin-bottom: 20px;">
                                <a th:href="@{'/products/delete/'+ ${product.id}}"
                                   class="btn_1 gray delete wishlist_close">
                                    <i class="fa fa-fw fa-times-circle-o"></i>
                                    Delete
                                </a>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
            <table class="page-item" th:if="${categories.totalPages > 0}">
                <tr th:if="${categories.totalPages > 0}">
                    <th th:each="pageNumber :${totalPages}">
                        <a class="active" th:href="@{/products/myproducts(size=${categories.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==categories.number + 1} ? active"></a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>