<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods</title>
    <th:block th:insert="fragments/fragment::headerImport"></th:block>
    <link href="/css/booking-sign_up.css" rel="stylesheet">
    <link href="/css/detail-page-delivery.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<main class="bg_gray pattern">
    <form action="/orders/add" method="post" class="container margin_60_40">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="box_booking_2 style_2">
                    <div class="head">
                        <span style="color: red" th:if="${errorMessageAddOrder != null}" th:text="${errorMessageAddOrder}"></span>
                        <div class="title">
                            <h3>Contact Information</h3>
                        </div>
                    </div>
                    <div class="main">
                        <div class="row">
                            <div>
                                <span style="color: red" th:if="${orderErrors != null}" th:text="${orderErrors.get('additionalAddress')}"></span>
                                <div class="form-group">
                                    <label>Delivery Address</label>
                                    <input class="form-control" name="additionalAddress" placeholder="Delivery Address" required title="Delivery Address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <span style="color: red" th:if="${orderErrors != null}" th:text="${orderErrors.get('additionalPhone')}"></span>
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input class="form-control" name="additionalPhone" placeholder="Phone Number" pattern="^[+][0-9]{11}$" required title="Phone Number">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box_booking_2 style_2">
                    <div class="head">
                        <div class="title">
                            <h3>Credit Card Information</h3>
                        </div>
                    </div>
                    <div class="main">
<!--                        <div class="payment_select">-->
<!--                            <label class="container_radio">Credit Card Payment-->
<!--                                <input type="radio" value="CREDIT_CARD" checked="checked" name="paymentOption">-->
<!--                                <span class="checkmark"></span>-->
<!--                            </label>-->
<!--                            <i class="icon_creditcard"></i>-->
<!--                        </div>-->
                        <span style="color: red" th:if="${cardErrors != null}" th:text="${cardErrors.get('cardHolder')}"></span>
                        <div class="form-group">
                            <label>Name on Card</label>
                            <input type="text" class="form-control" id="name_card_order" name="cardHolder" placeholder="First Name, Last Name" required title="Card Holder">
                        </div>
                        <span style="color: red" th:if="${cardErrors != null}" th:text="${cardErrors.get('cardNumber')}"></span>
                        <div class="form-group">
                            <label>Card Number</label>
                            <input type="text" id="card_number" name="cardNumber" class="form-control " placeholder="Card Number" required title="Card Number">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span style="color: red" th:if="${cardErrors != null}" th:text="${cardErrors.get('cardExpiresAt')}"></span>
                                <label>Expiration date</label>
                                <div class="row">
                                    <div class="col-md-8 col-8">
                                        <div class="form-group">
                                            <input type="date" id="expire_month" name="cardExpiresAt" class="form-control" placeholder="Expiration Date" required title="Expiration Date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <span style="color: red" th:if="${cardErrors != null}" th:text="${cardErrors.get('cvv')}"></span>
                                <div class="form-group">
                                    <label>Security code</label>
                                    <div class="row">
                                        <div class="col-md-4 col-6">
                                            <div class="form-group">
                                                <input type="text" id="ccv" name="cvv" class="form-control" placeholder="CVV" required title="CVV">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <img src="/img/icon_ccv.gif" width="50" height="29" alt="ccv"><small>Last 3 numbers</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="payment_select">-->
<!--                            <label class="container_radio">Pay with Cash-->
<!--                                <input type="radio" value="CASH" name="paymentOption">-->
<!--                                <span class="checkmark"></span>-->
<!--                            </label>-->
<!--                            <i class="icon_wallet"></i>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4" id="sidebar_fixed">
                <div class="box_booking">
                    <div class="head">
                        <h3>Summary of Order</h3>
                    </div>
                    <div class="main">
                        <ul>
                            <li>Order Type:<span>Delivery</span></li>
                        </ul>
                        <hr>
                        <ul class="clearfix" th:each="basket: ${baskets}">
                            <li>
                                <strong th:text="${basket.itemQuantity}+' x '+' '+${basket.productOverview.name}"></strong>
                                <span th:text="${basket.itemQuantity*basket.productOverview.price}"></span>
                            </li>
                        </ul>
                        <ul class="clearfix">
                            <li class="total">Order Total Price<span th:text="${totalPrice}"></span></li>
                        </ul>
                        <input type="submit" value="Order Now" class="btn_1 full-width mb_5">
                        <div class="text-center">
                            <small>You can also reach us by calling <strong>+374 (99) 12 91 73</strong></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
<th:block th:insert="fragments/fragment::footer"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<th:block th:insert="fragments/fragment::commonScripts"></th:block>
<script src="/js/sticky_sidebar.min.js"></script>
<script src="/js/specific_detail.js"></script>
</body>
</html>