<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Orders</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="/"><img src="/img/logo_sticky.svg" alt="" width="142" height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="/users/home">
                    <i class="fa fa-fw fa-user"></i>
                    <span class="nav-link-text" th:if="${currentUser != null}" th:text="${currentUser.firstName ?: ''}"></span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav><br>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
        <li class="breadcrumb-item active" th:if="${currentUser.role.name == 'CUSTOMER'}"><a href="/users/home">Profile Page</a></li>
        <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
        <li class="breadcrumb-item active">Orders</li>
    </ol>

    <div style="height: 300px; text-align: center" th:if="${orders.content.isEmpty()}">
        <h7>There are no orders.</h7>
    </div>

    <span style="color: red; margin-bottom: 5px;" th:if="${errorMessageOrder != null}" th:text="${errorMessageOrder}"></span>
    <span style="color: red; margin-bottom: 5px;" th:if="${errorMessageEditOrder != null}" th:text="${errorMessageEditOrder}"></span>
    <span style="color: red; margin-bottom: 5px;" th:if="${errorMessageDeleteOrder != null}" th:text="${errorMessageDeleteOrder}"></span>

    <div class="card mb-3" th:if="${!orders.content.isEmpty()}">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Client Name</th>
                        <th>Current Status</th>
                        <th>Is Paid</th>
                        <th>Total Price</th>
                        <th th:if="${ownerOrder != null && currentUser != null && currentUser.role.name == 'OWNER' && orders != null}">Info</th>
                        <th th:if="${ownerOrder != null && currentUser != null && currentUser.role.name == 'OWNER' && orders != null}">Edit Details</th>
                        <th th:if="${ownerOrder == null && currentUser != null && orders != null}">View Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order:${orders.content}">

                        <td th:text="${#temporals.format(order.orderAt, 'dd-MM-yyyy HH:mm')}"></td>

                        <td th:text="${order.userOverview.firstName+' '+order.userOverview.lastName}"></td>

                        <td th:if="${order.status=='NEW'}">
                            <i class="pending">New Order</i>
                        </td>

                        <td th:if="${order.status=='IN_PROGRESS'}">
                            <i class="approved">In progress</i>
                        </td>

                        <td th:if="${order.status=='DELIVERED'}">
                            <i class="approved">Delivered</i>
                        </td>

                        <td th:if="${order.status=='CANCELLED'}">
                            <i class="cancel">Cancelled</i>
                        </td>

                        <td th:if="${order.paymentCompleted}">
                            <i style="color: green;">Paid</i>
                        </td>
                        <td th:if="${!order.paymentCompleted}">
                            <i style="color: red;">Not Paid</i>
                        </td>

                        <td th:text="${order.totalPrice}"></td>

                        <td th:if="${ownerOrder != null && currentUser != null && currentUser.role.name == 'OWNER' && order != null && order.isPaymentCompleted() != null && order.isPaymentCompleted() && order.status =='DELIVERED'}">
                            <p>Closed Order</p>
                        </td>

                        <td th:if="${ownerOrder != null && currentUser != null && currentUser.role.name == 'OWNER' && order != null && order.isPaymentCompleted() != null && (!order.isPaymentCompleted() || order.status !='DELIVERED')}">
                            <p>Open Order</p>
                        </td>

                        <td th:if="${ownerOrder == null}">
                            <a th:href="@{'/orders/'+ ${order.id}}"><strong>View</strong></a>
                        </td>

                        <td th:if="${ownerOrder != null}">
                            <a th:href="@{'/orders/' + ${order.id}+ '?isOwner=true'}"><strong>View</strong></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="pagination_fg" th:if="${!orders.content.isEmpty()}">
                    <tr class="page-item" th:if="${orders.totalPages > 0}">
                        <th th:each="pageNumber :${totalPages}">
                            <a th:href="@{${#request.requestURI}(size=${orders.size}, page=${pageNumber})}" th:text="${pageNumber}" th:class="${pageNumber == orders.number + 1 ? 'active' : ''}"></a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>
