<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Order</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name == 'CUSTOMER'}"><a href="/users/home">Profile Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Order</li>
        </ol>
        <div class="box_general pb-3">
            <div class="header_box">
                <h2 class="d-inline-block">Information</h2>
                <br>
                <span style="color: green" th:if="${successMessage != null}" th:text="${successMessage}"></span>
                <span style="color: red" th:if="${errorMessageEditOrder != null}" th:text="${errorMessageEditOrder}"></span>
            </div>
            <div class="list_general order">
                <ul>
                    <li>
                        <strong th:if="${order.status=='NEW'}"><i class="pending">New Order</i></strong>
                        <strong th:if="${order.status=='IN_PROGRESS'}"><i class="approved">In progress</i></strong>
                        <strong th:if="${order.status=='DELIVERED'}"><i class="approved">Delivered</i></strong>
                        <strong th:if="${order.status=='CANCELLED'}"><i class="cancel">Cancelled</i></strong>
                        <ul class="booking_list">
                            <li>
                                <strong>Payer First Name </strong>
                                <strong th:text="${order.userOverview.firstName}"></strong>
                            </li>
                            <li>
                                <strong>Payer Last Name </strong>
                                <strong th:text="${order.userOverview.lastName}"></strong>
                            </li>
                            <li>
                                <strong>Date and Time </strong>
                                <strong th:text="${#temporals.format(order.orderAt,'dd-MM-yyyy HH:mm')}"></strong>
                            </li>
                            <li>
                                <strong>Delivery Address </strong>
                                <strong th:text="${order.additionalAddress}"></strong>
                            </li>
                            <li>
                                <strong>Phone Number </strong>
                                <a href="#0" th:text="${order.additionalPhone}"></a>
                                <a href="#0" th:text="${order.userOverview.email}"></a>
                            </li>
<!--                            <li>-->
<!--                                <strong>Payment Method </strong>-->
<!--                                <strong th:text="${order.paymentOption}"></strong>-->
<!--                            </li>-->
                        </ul>
                        <p th:if="${currentUser.role.name == 'OWNER' && isOwner == true && (order.status !='DELIVERED' || !order.paymentCompleted)}">
                            <a href="#0" class="btn_1" data-toggle="modal" data-target="#client_detail_modal">
                                <i class="fa fa-fw fa-envelope"></i>
                                Edit details
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <hr>
            <div th:if="${productQuantity != null && productQuantity.size() != 0}">
            <h5>Order details</h5>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody th:each="entry : ${productQuantity}">
                    <tr th:if="${isOwner == null || (isOwner != null && entry.key.user.id == currentUser.id)}">
                    <td th:text="${entry.key.name}"></td>
                        <td th:text="${entry.value}"></td>
                        <td th:text="${entry.key.description}"></td>
                        <td th:text="${entry.key.price}"></td>
                    </tr>
                    <div class="modal fade" id="client_detail_modal" tabindex="-1" role="dialog"
                         aria-labelledby="client_detail_modalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="@{'/orders/edit/'+${order.id}}" method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="client_detail_modalLabel">Edit details</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span style="color: red" th:if="${orderErrors != null}" th:text="${orderErrors.get('additionalAddress')}"></span>
                                        <div class="form-group">
                                            <label>Delivery Address</label>
                                            <input type="text" class="form-control" name="additionalAddress" th:value="${order.additionalAddress}">
                                        </div>
                                        <span style="color: red" th:if="${orderErrors != null}" th:text="${orderErrors.get('additionalPhone')}"></span>
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="text" class="form-control" name="additionalPhone" th:value="${order.additionalPhone}">
                                        </div>
                                        <span style="color: red" th:if="${orderErrors != null}" th:text="${orderErrors.get('status')}"></span>
                                        <div class="form-group">
                                            <label>Current Status</label>
                                            <div class="styled-select">
                                                <select class="custom-select" name="status" id="status">
                                                    <option value="NEW" th:selected="${order.status == 'NEW'}">New Order</option>
                                                    <option value="IN_PROGRESS" th:selected="${order.status == 'IN_PROGRESS'}">In Progress</option>
                                                    <option value="DELIVERED" th:selected="${order.status == 'DELIVERED'}">Delivered</option>
                                                    <option value="CANCELLED" th:selected="${order.status == 'CANCELLED'}">Cancelled</option>
                                                </select>
                                            </div>
                                        </div>
<!--                                        <div class="form-group" th:if="${!order.isPaymentCompleted()}">-->
<!--                                            <label>Payment Method</label>-->
<!--                                            <div class="styled-select">-->
<!--                                                <select class="custom-select" name="paymentOption">-->
<!--                                                    <option value="CREDIT_CARD" th:selected="${order.paymentOption == 'CREDIT_CARD'}">Credit Card Payment</option>-->
<!--                                                    <option value="CASH" th:selected="${order.paymentOption == 'CASH'}">Cash Payment</option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <span style="color: red" th:if="${orderErrors != null}" th:text="${orderErrors.get('paymentCompleted')}"></span>
                                        <div class="form-group">
                                            <label class="container_radio">Paid
                                                <input type="radio" value="true" name="paymentCompleted" th:checked="${order.paymentCompleted}"><span class="checkmark"></span>
                                            </label>
                                            <label class="container_radio">Not Paid
                                                <input type="radio" value="false" name="paymentCompleted" th:checked="${!order.paymentCompleted}"><span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="Save" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="row justify-content-end total_order" th:if="${isOwner == null}">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <ul>
                        <li>
                            <span>Order Total</span>
                            <strong th:text="${order.totalPrice}"></strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>
