<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Product Categories</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name == 'CUSTOMER'}"><a href="/users/home">Profile Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Product Type</li>
        </ol>
        <div style="height: 300px; text-align: center" th:if="${categories == null || categories.content.isEmpty()}"><br>
            <h7>There are no categories available at the moment.</h7>
        </div>
        <div class="card mb-3" th:if="${!categories.content.isEmpty()}">
            <div class="card-body">
                <div class="table-responsive">
                    <span style="color: red; margin-bottom: 5px;" th:if="${errorMessageEdit!=null}" th:text="${errorMessageEdit}"></span>
                    <span style="color: red; margin-bottom: 5px;" th:if="${errorMessageDelete!=null}" th:text="${errorMessageDelete}"></span>
                    <span style="color: green; margin-bottom: 5px;" th:if="${updateSuccess != null}" th:text="${updateSuccess}"></span>

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th th:if="${currentUser.role.name == 'ADMIN'}">Edit</th>
                            <th th:if="${currentUser.role.name == 'ADMIN'}">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category:${categories.content}">
                            <td th:text="${category.name}"></td>
                            <td th:if="${currentUser.role.name == 'ADMIN'}">
                                <a th:href="@{'/productCategories/edit/'+ ${category.id}}">
                                    <strong>Edit</strong>
                                </a>
                            </td>
                            <td th:if="${currentUser.role.name == 'ADMIN'}">
                                <a th:href="@{'/productCategories/delete/'+ ${category.id}}">
                                    <strong>Delete</strong>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <tr th:if="${categories.totalPages > 0}">
                        <th  class="pagination" th:each="pageNumber : ${totalPages}">
                            <a th:href="@{/productCategories(size=${categories.size}, page=${pageNumber})}"
                               th:text="${pageNumber}"
                               th:class="${pageNumber==categories.number + 1} ? active">
                            </a>
                        </th>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>