<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Add Event</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<form action="/events/add" method="post" enctype="multipart/form-data">
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
                <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
                <li class="breadcrumb-item active">Event Addition</li>
            </ol>
            <div class="box_general padding_bottom">
                <div class="header_box version_2">
                    <h2><i class="fa fa-file"></i>Add Event</h2>
                    <span style="color: red" th:if="${errorMessageSave != null}" th:text="${errorMessageSave}"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Event</label>
                            <input type="text" name="name" class="form-control" required title="Name"/>
                            <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('name') }"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Organizing Company</label>
                            <div class="styled-select">
                                <select name="companyId" required title="Company">
                                    <option th:if="${companies.size() !=0}" th:each="company :${companies}" th:value="${company.id}" th:text="${company.name}"></option>
                                </select>
                                <span th:if="${companies.size() == 0}" class="text-muted">You haven't registered any company</span>
                            </div>
                        </div>
                    </div>
                    <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('companyId')}"></span>
                </div>
                <div class="form-group">
                    <label>Event Description</label>
                    <input type="text" name="description" class="form-control" required title="Description"/>
                    <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('description')}"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Date And Time</label>
                            <input type="datetime-local" placeholder="Select date and time" name="eventDateTime" class="form-control" required title="Date and Time"/>
                            <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('eventDateTime')}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Participation Price</label>
                            <input type="number" name="price" class="form-control" min="0" required title="Participation Price"/>
                            <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('price')}"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <input type="file" class="form-control.dropzone" name="eventImage" id="eventImageInput" multiple style="display: none;" accept=".jpeg, .jpg"
                                   onchange="validateFileSize(this)" title="Event Image">
                            <button type="button" class="btn btn-primary" style="width: 100%; background-color:#589442;"
                                    onclick="chooseImage()">Choose a JPEG image for the event
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <p><input type="submit" class="btn_1 medium" value="Add"></p>
        </div>
    </div>
</form>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
<script>
function chooseImage() {
        document.getElementById('eventImageInput').click();
    }
function validateFileSize(input) {
        const maxFileSizeMB = 5;
        const maxFileSizeBytes = maxFileSizeMB * 1024 * 1024;
        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            if (files[i].size > maxFileSizeBytes) {
                alert('File size exceeds the maximum limit of ' + maxFileSizeMB + 'MB');
                input.value = '';
                return;
            }
        }
    }
</script>
</body>
</html>