<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Green Cycle Goods - Edit Event</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Edit Event</li>
        </ol>
        <span th:if="${errorMessageEdit!=null}" th:text="${errorMessageEdit}" style="color: red; display: block; margin-bottom: 5px;"></span>
        <div class="box_general">
            <div class="header_box version_2">
                <h2>
                    <i class="fa fa-list"></i>
                    Edit Event
                </h2>
            </div>
            <form th:action="@{'/events/edit/'+${event.id}}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Organizing Company</label>
                        <select class="custom-select" name="companyId" id="company" required title="Company">
                            <option th:each="company:${companies}" th:value="${company.id}" th:text="${company.name}"
                            th:selected="${company.id eq event.companyOverview.id}"></option>
                        </select>
                        <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('companyId') }"></span>
                    </div>
                    <div class="form-group">
                        <label>Event</label>
                        <input type="text" class="form-control" name="name" th:value="${event.name}" required title="Event Name"/>
                        <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('name') }"></span>
                    </div>
                    <div class="form-group">
                        <label>Event Description</label>
                        <textarea name="description" th:text="${event.description}" th:placeholder="'Description...'"
                                  class="form-control" style="resize: none" title="Description"></textarea>
                        <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('description') }"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date And Time</label>
                                <input type="datetime-local" name="eventDateTime" th:value="${event.eventDateTime}" class="form-control" required title="Date And Time"/>
                                <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('eventDateTime') }"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Participation Price</label>
                                <input type="number" name="price" th:value="${event.price}" class="form-control" min="0" required title="Participation Price"/>
                                <span style="color: red" th:if="${eventErrors != null}" th:text="${eventErrors.get('price') }"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="file" class="form-control.dropzone" name="eventImage" id="eventImageInput" multiple style="display: none;" accept=".jpeg, .jpg"
                                       onchange="validateFileSize(this)" title="Event Image">
                                <button type="button" class="btn btn-primary" style="width: 100%; background-color:#589442;"
                                        onclick="chooseImage()">Choose a JPEG image for the event
                                </button>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <input type="submit" value="Edit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
<script>
    function chooseImage() {
        document.getElementById('eventImageInput').click();
    }
    function validateFileSize(input) {
        const maxFileSizeMB = 5;
        const maxFileSizeBytes = maxFileSizeMB * 1024 * 1024;
        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            if (files[i].size > maxFileSizeBytes) {
                alert('File size exceeds the maximum limit of ' + maxFileSizeMB + 'MB');
                input.value = '';
                return;
            }
        }
    }
</script>
</body>
</html>