<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Company & Event</title>
    <th:block th:insert="fragments/fragment::headerImport"></th:block>
    <link href="/css/detail-page.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<main>
    <div class="container margin_detail">
        <div class="row">
            <div class="col-lg-8">
                <div class="detail_page_head clearfix">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a th:href="@{'/companies/' + ${company.id}}">Company</a></li>
                        </ul>
                    </div>
                    <div class="title">
                        <h1 th:text="${company.name}"></h1>
                        <span th:text="${company.companyCategoryOverview.name}"></span>
                    </div>
                </div>
                <div class="owl-carousel owl-theme carousel_1 magnific-gallery"
                     th:if="${company.pictures != null && !company.pictures.isEmpty()}" th:each="picture:${company.pictures}">
                    <div class="item">
                        <a title="Photo title" data-effect="mfp-zoom-in"><img th:src="@{/companies/getImages(fileName=${picture})}"></a>
                    </div>
                </div>
                <div class="tabs_detail">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="tab-A" href="#pane-A" class="nav-link " data-bs-toggle="tab"
                               role="tab">COMPANY</a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-B" href="#pane-B" class="nav-link active" data-bs-toggle="tab"
                               role="tab">Events</a>
                        </li>
                    </ul>
                    <div class="tab-content" role="tablist">
                        <div id="pane-A" class="card tab-pane fade " role="tabpanel" aria-labelledby="tab-A">
                            <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
                                <div class="card-body info_content">
                                    <h2>Information About Company</h2>
                                    <div th:each="category:${categories}">
                                        <h3 th:text="${category.name}"></h3>
                                        <div th:each="product:${products}"
                                             th:if="${category.id==product.productCategoryOverview.id}">
                                            <div class="menu_item">
                                                <em th:text="${product.price}"></em>
                                                <h4 th:text="${product.name}"></h4>
                                                <p th:text="${product.description}"></p>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="other_info">
                                        <h2 th:text="${'How to get to '+ company.name}"></h2>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Address</h3>
                                                <p th:text="${company.address}"><br>
                                                    <a href="https://www.google.com/maps/place/16+Yeznik+Koghbatsi+St,+Yerevan+0010/@40.1805248,44.5073144,17z/data=!3m1!4b1!4m6!3m5!1s0x406abcfc6ba84679:0xe82f730d1c46a9a2!8m2!3d40.1805207!4d44.5098893!16s%2Fg%2F11n0_ymvrp?entry=ttu"
                                                       target="blank"><strong>Find Us on the Map.</strong>
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <h3>Contacts</h3>
                                                <p><strong>Email</strong><br th:text="${company.email}"><p>
                                                <p><strong>Phone</strong><br th:text="${company.phone}"></p>
                                            </div>
                                            <div class="col-md-4">
                                                <h3>Delivery price</h3>
                                                <p th:text="${company.deliveryPrice}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pane-B" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-B">
                            <div id="collapse-B" class="collapse show" role="tabpanel" aria-labelledby="heading-B">
                                <div class="card-body reviews" th:each="event:${eventsByCompany}">
                                    <div id="reviews">
                                        <div class="review_card">
                                            <div class="row">
                                                <div class="col-md-3 user_info">
                                                    <figure>
                                                        <a th:href="'/events/'+${event.id}">
                                                            <img th:if="${event.pictures != null && !event.pictures.isEmpty()}" th:src="@{/events/getImages(fileName=${event.getPictures().get(0)})}">
                                                        </a>
                                                    </figure>
                                                    <div class="clearfix add_bottom_15">
                                                        <em th:text="${#temporals.format(event.eventDateTime, 'dd-MM-yyyy HH:mm')}"></em>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 review_content">
                                                    <h5 th:text="${event.name}"></h5>
                                                    <p th:text="${event.description}"></p>
                                                    <p th:text="${event.price}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="fragments/fragment::footer"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<script src="/js/common_scripts.min.js"></script>
<script src="/js/common_func.js"></script>
<script src="/assets/validate.js"></script>
<script src="/js/sticky_sidebar.min.js"></script>
<script src="/js/specific_detail.js"></script>
<script src="/js/datepicker.min.js"></script>
<script src="/js/datepicker_func_1.js"></script>
</body>
</html>