<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Event</title>
    <th:block th:insert="fragments/fragment::headerImport"></th:block>
    <link href="/css/blog.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<main>
    <div class="page_header element_to_stick">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
                    <div class="breadcrumbs blog">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a th:href="@{'/companies'}">Companies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container margin_30_40">
        <div class="row">
            <div class="col-lg-9">
                <div class="singlepost">
                    <figure th:if="${event.pictures != null && !event.pictures.isEmpty()}">
                        <img alt="" class="img-fluid" th:src="@{/events/getImages(fileName=${event.getPictures().get(0)})}">
                    </figure>
                    <h1 th:text="${event.name}"></h1>
                    <div class="postmeta">
                        <ul>
                            <li><a href="#"><i th:text="${event.companyOverview.name}"></i></a></li>
                            <li><i th:text="${#temporals.format(event.eventDateTime, 'dd-MM-yyyy HH:mm')}"></i></li>
                            <li><a href="#"><i th:text="${event.price}"></i></a></li>
                        </ul>
                    </div>
                    <div class="post-content">
                        <div class="dropcaps">
                            <p th:text="${event.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container margin_30_40">
        <div class="row">
            <div class="col-lg-9">
                <div class="singlepost">
                    <div class="col-lg-4" id="sidebar_fixed">
                        <div class="box_booking">
                            <div class="main">
                                <div id="DatePicker"></div>
                                <span style="color: red" th:if="${errorMessageEvent != null}" th:text="${errorMessageEvent}"></span>
                                <a th:href="@{'/events/'+${event.id}+'/registration'}" class="btn_1 full-width mb_5" style="width: 110px;">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="fragments/fragment::footer"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<th:block th:insert="fragments/fragment::commonScripts"></th:block>
</body>
</html>