<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Events</title>
    <th:block th:insert="fragments/fragment::headerImport"></th:block>
    <link href="/css/blog.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<main>
    <div class="page_header element_to_stick">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
                    <div class="breadcrumbs blog">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a th:href="@{'/products'}">Products</a></li>
                            <li><a th:href="@{'/companies'}">Companies</a></li>
                            <li><a th:href="@{'/events'}">Events</a></li>
                            <li><a th:href="@{'/companies/add'}">Register Company</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="height: 300px; text-align: center" th:if="${events.content.isEmpty()}"><h6>No events found.</h6></div>
    <span style="color: red" th:if="${errorMessageEvent != null}" th:text="${errorMessageEvent}"></span><br>
    <div class="container margin_30_40" th:if="${!events.content.isEmpty()}">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6" th:each="event:${events.content}">
                        <article class="blog">
                            <figure>
                                <a th:href="'/events/'+${event.id}">
                                    <img th:if="${event.pictures != null && !event.pictures.isEmpty()}"
                                        th:src="@{/events/getImages(fileName=${event.getPictures().get(0)})}"></a>

                                    <img th:if="${event.pictures == null || event.pictures.isEmpty()}"
                                        src="/img/imageGCG.png">
                                <div class="preview">
                                    <span>See details</span>
                                </div>
                            </figure>
                            <div class="post_info">
                                <span th:text="${event.companyOverview.name}+' - '+${#temporals.format(event.eventDateTime, 'dd-MM-yyyy HH:mm')}"></span>
                                <h2>
                                    <a th:href="'/events/'+${event.id}" th:text="${event.name}"></a>
                                </h2>
                            </div>
                        </article>
                    </div>
                </div>
                <table class="pagination_fg">
                    <tr th:if="${events.totalPages>0}">
                        <th th:each="pageNumber:${totalPages}">
                            <a class="active" th:href="@{/events(size=${events.size}, page=${pageNumber})}" th:text="${pageNumber}"
                               th:class="${pageNumber==events.number+1}? active">
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
            <aside class="col-lg-3">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Companies</h4>
                    </div>
                    <ul class="cats">
                        <li th:each="company:${companies}">
                            <a th:href="@{'/companies/'+${company.id}+'/events'}">
                                <strong th:text="${company.name}"></strong>
                                <span th:text="${eventsByCompany.get(company.id).size()+' events'}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</main>
<th:block th:insert="fragments/fragment::footer"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<th:block th:insert="fragments/fragment::commonScripts"></th:block>
</body>
</html>