<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Error</title>
    <th:block th:insert="~{fragments/fragment::headerImport}"></th:block>
    <link href="/css/error.css" rel="stylesheet">
    <link href="//404.html#" id="colors" rel="stylesheet">
</head>
<body>
<th:block th:insert="~{fragments/fragment::header}"></th:block>
<main>
    <div id="error_page">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-7 col-lg-9">
                    <figure><img src="/img/404.svg" alt="" class="img-fluid"></figure>
                 <li th:if="${error != null}" th:text="${error}" style="font-size: 20px"></li>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="~{fragments/fragment::footer}"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="~{fragments/fragment::signInModal}"></th:block>
<th:block th:insert="~{fragments/fragment::commonScripts}"></th:block>
</body>
</html>