<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods</title>
    <th:block th:insert="~{fragments/fragment::headerImport}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/fragment::header}"></th:block>
<main>
    <div class="hero_single inner_pages background-image" data-background="url(img/hero_submit.jpg)">
        <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10 col-md-8">
                        <h1>Green Cycle Goods</h1>
                        <p>Your Eco-friendly Marketplace and Events Hub</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_gray">
        <div class="container margin_60_40">
            <div class="main_title center">
                <span><em></em></span>
                <h2>In nature, there's no concept of waste; everything is recycled and reused</h2>
            </div>
            <div class="owl-carousel owl-theme categories_carousel">
                <div class="item">
                    <a href="#0">
                        <i class="icon-globe"></i>
                        <h3>A green world is a clean world</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="#0">
                        <i class="icon-recycle"></i>
                        <h3>Reduce, reuse, recycle</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="#0">
                        <h3>The earth does not belong to us</h3>
                        <i class="icon-icon_heart"></i>
                        <h3>We belong to the earth</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="#0">
                        <i class="icon-water"></i>
                        <h3>Every drop in the ocean counts</h3>
                    </a>
                </div>
                <div class="item">
                    <a href="#0">
                        <i class="icon-solar-panel"></i>
                        <h3>Nature knows no waste</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner lazy" data-bg="url(/img/banner_bg_desktop.jpg)">
        <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.2)">
            <div>
                <small>Green Cycle Goods</small>
                <h3>By buying recycled products, you help create demand for recycled materials, encouraging more
                    recycling efforts
                </h3>
                <p>Your choice to buy recycled products can inspire others to make eco-friendly choices, raising
                    awareness about the importance of recycling and sustainability</p>
                <a th:href="@{'/products'}" class="btn_1">View All</a>
            </div>
        </div>
    </div>
    <div class="banner lazy" data-bg="url(/img/banner_bg_desktop.jpg)">
        <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.2)">
            <div>
                <h3>Are you a eco-Entrepreneurs?</h3>
                <p>Join Us to increase your online visibility. You'll have access to even more customers.</p>
                <a href="/companies/add" class="btn_1">Read more</a>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="~{fragments/fragment::footer}"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="~{fragments/fragment::signInModal}"></th:block>
<th:block th:insert="~{fragments/fragment::commonScripts}"></th:block>
</body>
</html>