<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods</title>
    <th:block th:insert="~{fragments/fragment::headerImport}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/fragment::header}"></th:block>
<main class="large_bg_black pattern">
    <div class="container margin_60_40">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div>
                    <div class="head">
                        <span style="color: darkgreen; text-align: center" th:if="${verificationMessage!=null}" th:text="${verificationMessage}"></span>
                        <span style="color: darkgreen; text-align: center" th:if="${registrationEmail!=null}" th:text="${registrationEmail}"></span>
                        <div class="title">
                            <h3>Sign In</h3>
                        </div>
                    </div>
                    <div class="main">
                        <form action="/login" method="POST">
                            <div class="sign-in-wrapper">
                                <div class="form-group">
                                    <div style="color: red; text-align: center" th:if="${loginError != null}" th:text="${loginError}"></div>
                                    <label><i class="icon_mail_alt"></i>Email</label>
                                    <input type="email" class="form-control" name="username" id="email">
                                </div>
                                <div class="form-group">
                                    <label><i class="icon_lock_alt"></i> Password</label>
                                    <input type="password" class="form-control" name="password" id="password">
                                </div>
                                <div class="clearfix add_bottom_15">
                                    <div class="float-end"><a id="forgot" href="/users/add">Forgot Password?</a></div>
                                </div>
                                <div class="text-center">
                                    <input type="submit" value="Log In" class="btn_1 full-width mb_5">
                                    Don’t have an account? <a href="/users/add">Sign up</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="~{fragments/fragment::footer}"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="~{fragments/fragment::signInModal}"></th:block>
<th:block th:insert="~{fragments/fragment::commonScripts}"></th:block>
</body>
</html>