<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods</title>
    <th:block th:insert="fragments/fragment::headerImport"></th:block>
</head>
<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<main class="bg_gray pattern">
    <div class="text-center add_bottom_15">
        <a href="/companies/registration-terms" class="btn btn-info" style="background-color:#589442; color: white;">
            Company Registration Terms</a>
    </div>
    <div class="bg_gray pattern" id="submit">
        <div class="container margin_60_40">
            <div class="row justify-content-center">
                <div class="col-lg-5">

                    <div class="text-center add_bottom_15">
                        <span th:if="${currentUser == null && errorMessageNoUser == null}" style="font-size: 16px;">To create a new company, we kindly ask you to register for an account.</span>
                        <span th:if="${currentUser == null && errorMessageNoUser != null}" style="font-size: 16px; color: red">To create a new company, we kindly ask you to register for an account.</span>
                        <span style="margin-bottom: 10px; font-size: 16px;" th:if="${errorMessageCompanyCreation == true && currentUser != null}">Company creation is temporarily unavailable.</span>
                        <span style="color: red" th:if="${errorMessageCreate!=null}" th:text="${errorMessageCreate}"></span><br>
                    </div>

                    <form id="registrationForm" action="/companies/add" method="post" enctype="multipart/form-data">
                        <div th:if="${errorMessageNoCompanies != null || generalError != null}">
                            <span style="color: red" th:if="${errorMessageNoCompanies != null}" th:text="${errorMessageNoCompanies}"></span>
                            <span style="color: red" th:if="${generalError != null}" th:text="${generalError}"></span>
                        </div>
                        <h5>Register a New Company</h5>

                        <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('name')}"></span>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" style="display: flex; align-items: center;">
                                    <span style="color: red;">*</span>
                                    <input type="text" class="form-control" th:field="${company.name}" placeholder="Name" required title="Name"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="${company.address}"  style="margin-left: 7px;!important; width:99%;!important;" placeholder="Address" title="Address">
                                </div>
                            </div>
                        </div>

                        <div th:if="${errorMessageEmail != null}" style="color: red;" th:text="${errorMessageEmail}"></div>
                        <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('email')}"></span>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" style="display: flex; align-items: center;">
                                    <span style="color: red;">*</span>
                                    <input type="email" class="form-control" th:field="${company.email}" placeholder="Email" required title="Email"/>
                                </div>
                            </div>
                        </div>

                        <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('phone')}"></span>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" style="display: flex; align-items: center;">
                                    <span style="color: red;">*</span>
                                    <input type="text" class="form-control" th:field="${company.phone}" placeholder="Phone Number" pattern="^[+][0-9]{11}$" required title="Phone Number"/>
                                </div>
                            </div>
                        </div>

                        <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('deliveryPrice')}"></span>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" style="display: flex; align-items: center;">
                                    <span style="color: red;">*</span>
                                    <input type="text" class="form-control" id="deliveryPrice" th:field="${company.deliveryPrice}" placeholder="Delivery Price" min="1" required title="Delivery Price"/>
                                </div>
                            </div>
                        </div>

                        <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('companyCategoryId')}"></span>
                        <div class="row add_bottom_15">
                            <div class="col-lg-12">
                                <div class="form-group" style="display: flex; align-items: center;">
                                    <span style="color: red;">*</span>
                                    <select class="form-control" name="companyCategoryId" style="width: 100%;" required title="Company Category">
                                        <option value="" th:selected="${company.companyCategoryId == null}" disabled style="color: gray;">Choose a Company Category</option>
                                        <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="file" class="form-control.dropzone" name="companyImage" id="companyImageInput" multiple style="display: none;" accept=".jpeg, .jpg"
                                           onchange="validateFileSize(this)" title="Company Image"/>
                                    <button type="button" class="btn btn-primary" style="width: 100%; background-color:#589442;"
                                            onclick="chooseImage()">Choose a JPEG image for the company
                                    </button>
                                    <div th:if="${errorMessageFile != null}" style="margin-bottom: 10px;">
                                        <span style="color: red;">Please select a valid image file (JPEG format).</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center"><input type="submit" class="btn_1" value="Submit"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="fragments/fragment::footer"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<script src="/js/common_scripts.min.js"></script>
<script src="/js/common_func.js"></script>
<script src="/assets/validate.js"></script>
<script>
    function chooseImage() {
        document.getElementById('companyImageInput').click();
    }
    function validateFileSize(input) {
        const maxFileSizeMB = 5;
        const maxFileSizeBytes = maxFileSizeMB * 1024 * 1024;
        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            if (files[i].size > maxFileSizeBytes) {
                alert('File size exceeds the maximum limit of ' + maxFileSizeMB + 'MB');
                input.value = '';
                return;
            }
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        const deliveryPriceInput = document.getElementById('deliveryPrice');
        deliveryPriceInput.addEventListener('input', function () {
            this.value = parseInt(this.value);
        });
    });
</script>
</body>
</html>