<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Companies</title>
    <th:block th:insert="fragments/fragment::headerImport"></th:block>
</head>
<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<main>
    <div class="page_header element_to_stick">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a th:href="@{'/products'}">Products</a></li>
                            <li><a th:href="@{'/companies'}">Companies</a></li>
                            <li><a th:href="@{'/events'}">Events</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="height: 300px; text-align: center; color: darkgreen" th:if="${companies.content.isEmpty()}"><h6>No companies found.</h6></div>
    &nbsp;&nbsp;<h4 style="color: green;" th:if="${errorMessageNoCompany!=null}" th:text="${errorMessageNoCompany}"></h4><br>
    <div class="container margin_30_40" th:if="${!companies.content.isEmpty()}">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" th:each="company:${companies.content}">
                    <div class="strip">
                        <figure>
                            <img th:if="${company.pictures != null && company.pictures.size != 0}"
                                 th:src="@{/companies/getImages(fileName=${company.pictures.get(0)})}" class="img-fluid lazy">

                            <img th:if="${company.pictures == null || company.pictures.size == 0}"
                                 src="/img/imageGCG.png">

                            <a th:href="@{'/companies/' + ${company.id}}" class="strip_info"></a>
                        </figure>
                        <ul>
                            <h7><a th:text="${company.name}"></a></h7>
                            <h8><a th:text="${company.companyCategoryOverview.name}"></a></h8>
                            <h9><a th:text="${company.address}"></a></h9>
                        </ul>
                    </div>
                </div>
            </div>
            <table class="pagination_fg">
                <tr th:if="${companies.totalPages > 0}">
                    <th th:each="pageNumber :${totalPages}" class="page-item">
                        <a class="active" th:href="@{/companies/(size=${companies.size}, page=${pageNumber})}" th:text="${pageNumber}" th:class="${pageNumber==companies.number + 1} ? active"></a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</main>
<th:block th:insert="fragments/fragment::footer"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<th:block th:insert="fragments/fragment::commonScripts"></th:block>
<script src="/js/sticky_sidebar.min.js"></script>
<script src="/js/specific_listing.js"></script>
</body>
</html>