<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods</title>
    <th:block th:insert="fragments/fragment::headerImport"></th:block>
</head>
<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<main>
    <div class="hero_single inner_pages background-image" data-background="url(img/hero_submit.jpg)">
        <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10 col-md-8">
                        <h1>Attract New Customers</h1>
                        <p>Eco-Conscious Crafting: Where Recycling Meets Artistry</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_gray">
        <div class="container margin_60_40">
            <div class="main_title center">
                <h3>Join the Sustainable Revolution with Green Cycle Goods</h3>
                <p>Register today and become part of our mission to create a greener future.</p>
                <p>We invite customers to join your sustainable journey, making it an effective and memorable slogan for your company.</p>
            </div>
            <div class="row justify-content-center align-items-center add_bottom_15">
                <div class="col-lg-5">
                    <div class="box_about">
                        <h3>Boost your Bookings</h3>
                        <p class="lead">Elevate Your Business with Increased Reservations and Revenue.</p>
                        <p>Boost your bookings and unlock new horizons for your business. Maximize registrations,
                            revenue, and customer satisfaction with our expert strategies.</p>
                        <img src="/img/arrow_about.png" alt="" class="arrow_1">
                    </div>
                </div>
                <div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
                    <img src="/img/about_1.svg" alt="" class="img-fluid" width="250" height="250">
                </div>
            </div>
            <div class="row justify-content-center align-items-center add_bottom_15">
                <div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
                    <img src="/img/about_2.svg" alt="" class="img-fluid" width="250" height="250">
                </div>
                <div class="col-lg-5">
                    <div class="box_about">
                        <h3>Manage Easily</h3>
                        <p class="lead">Streamline Your Operations and Achieve Efficiency.</p>
                        <p>
                            Managing easily means simplifying complexity.
                            Discover how streamlined operations can make your business more efficient and
                            productive.
                        </p>
                        <img src="/img/arrow_about.png" alt="" class="arrow_2">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5">
                    <div class="box_about">
                        <h3>Reach New Customers</h3>
                        <p class="lead">
                            Expanding your reach to new customers is essential for business growth in
                            today's competitive market.
                        </p>
                        <p>
                            Reaching new customers is like opening doors to endless possibilities.
                            With the right strategies and a customer-centric approach,
                            you can expand your business's horizons and create lasting connections in a dynamic
                            marketplace.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
                    <img src="/img/about_3.svg" alt="" class="img-fluid" width="250" height="250"></div>
            </div><br><br>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2>Explore Our Company Categories</h2>
                    <p>Discover a variety of categories that align with our mission for a greener future.</p>
                    <div style="width: 300px; margin: 0 auto;">
                        <div style="width:100%; padding: 3px 3px; margin: 5px; border-radius: 5px;background-color: gainsboro; color: #589442;"
                             th:each="category: ${categories}">
                            <p th:text="${category.name}"></p>
                        </div>
                    </div>
                </div>
                <div class="container margin_60_40">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h2>Registration Terms</h2>
                            <p>
                                By registering your company with Green Cycle Goods, you agree to the following terms and conditions:
                            </p>
                            <ol>
                                <li>
                                    We prioritize the security and confidentiality of your data. Your company information will be stored securely, and we will take all necessary measures to protect it.
                                </li>
                                <li>
                                    The information provided during registration is used for the sole purpose of facilitating your participation in our platform. We do not share your data with third parties without your consent.
                                </li>
                                <li>
                                    You are responsible for maintaining the accuracy of the information provided. Please update your company details promptly if there are any changes.
                                </li>
                                <li>
                                    Green Cycle Goods reserves the right to review and verify the information submitted during registration. We may contact you for additional details or clarification.
                                </li>
                                <li>
                                    If you have any questions or concerns about the registration process or terms, feel free to reach out to us at <a href="mailto:info@greenCycleGoods.com">info@greenCycleGoods.com</a>.
                                </li>
                            </ol>
                            <p class="lead">
                                Please ensure that you read and understand these terms before proceeding with the registration process.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="fragments/fragment::footer"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<script src="/js/common_scripts.min.js"></script>
<script src="/js/common_func.js"></script>
<script src="/assets/validate.js"></script>
</body>
</html>