<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <form th:action="@{'/companies/edit/' + ${company.id}}" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
                <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
                <li class="breadcrumb-item active">Edit Company</li>
            </ol>
            <div class="box_general padding_bottom">
                <div class="header_box version_2">
                    <div th:if="${errorMessageEdit != null || updateSuccess != null}">
                        <span th:if="${errorMessageEdit != null}" style="color: red" th:text="${errorMessageEdit}"></span>
                        <span th:if="${updateSuccess != null}" style="color: green" th:text="${updateSuccess}"></span>
                    </div>
                    <h2>
                        <i class="fa fa-list"></i>
                        Update Information About Company
                    </h2>
                </div>
                <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" th:value="${company.name}" name="name" required>
                                <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('name') }"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" th:value="${company.address}" name="address" title="Address"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="email" class="form-control" th:value="${company.email}" name="email" required title="Email"/>
                                <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('email') }"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" th:value="${company.phone}" name="phone"  pattern="^[+][0-9]{11}$" required title="Please enter a valid phone number"/>
                                <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('phone') }"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="number" class="form-control" th:value="${company.deliveryPrice}" name="deliveryPrice" value="1" required min="1" title="Delivery Price"/>
                                <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('deliveryPrice') }"></span>
                            </div>
                        </div>
                    </div>
                    <h7>Choose the type of company category</h7>
                    <div class="row add_bottom_15">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" name="companyCategoryId" required title="Company Category">
                                    <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"
                                            th:selected="${category.id eq company.companyCategoryOverview.id}"></option>
                                </select>
                                <span style="color: red" th:if="${companyErrors != null}" th:text="${companyErrors.get('companyCategoryId') }"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="file" class="form-control.dropzone" name="companyImage" id="companyImageInput" multiple style="display: none;"
                                       accept=".jpeg, .jpg" onchange="validateFileSize(this)" title="Company Image"/>
                                <button type="button" class="btn btn-primary" style="width: 100%; background-color:#589442;"
                                        onclick="chooseImage()">Choose a JPEG image for the company
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn_1" value="Edit">
                    </div>
                </div>
        </div>
    </form>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
<script>
    function chooseImage() {
        document.getElementById('companyImageInput').click();
    }
    function validateFileSize(input) {
        const maxFileSizeMB = 5;
        const maxFileSizeBytes = maxFileSizeMB * 1024 * 1024;
        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            if (files[i].size > maxFileSizeBytes) {
                alert('File size exceeds the maximum limit of ' + maxFileSizeMB + 'MB');
                input.value = '';
                return;
            }
        }
    }
</script>
</body>
</html>




