<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods</title>
    <th:block th:insert="fragments/fragment::headerImport"></th:block>
    <link href="/css/booking-sign_up.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/fragment::header"></th:block>
<main class="bg_gray pattern">
    <div class="container margin_60_40 margin_mobile">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="box_booking_2">
                    <div class="head">
                        <div class="title">
                            <h3 th:text="${event.name}"></h3>
                        </div>
                    </div>
                    <div class="main">
                        <span th:if="${currentUser == null}" style="font-size: 16px;">
                            To complete the event registration, please ensure you are registered on our website.
                            If you haven't registered yet, please sign up <a th:href="@{/users/add}" class="show-submenu">here</a>.
                        </span><br th:if="${currentUser == null}">
                        <span style="color: red" th:if="${errorMessageRegistration!=null}" th:text="${errorMessageRegistration}"></span><br>

                        <h6>Participant Info</h6>
                        <form th:action="@{'/events/' + ${event.id}+'/registration'}" method="post">
                            <input type="hidden" name="eventId" th:value="${event.id}">
                            <div class="form-group">
                                <input type="number" name="peopleCount" class="form-control" placeholder="Number of attendees" min="1" required title="Number of attendees">
                                <span style="color: red" th:if="${registrationErrors != null}" th:text="${registrationErrors.get('peopleCount') }"></span>
                                <i class="icon_pencil"></i>
                            </div>
                            <input type="submit" value="Register Now" class="btn_1 full-width mb_5">
                        </form>

                        <div class="text-center">
                            <small>No charges apply at this stage.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="fragments/fragment::footer"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="fragments/fragment::signInModal"></th:block>
<th:block th:insert="fragments/fragment::commonScripts"></th:block>
</body>
</html>