<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title> Green Cycle Goods - Edit Registration</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Edit Registration</li>
        </ol>
        <form th:action="@{'/registrations/edit/'+${registration.id}}" method="post">
            <span th:if="${errorMessageEdit != null}" style="color: red" th:text="${errorMessageEdit}"></span>
            <span th:if="${updateSuccess != null}" style="color: green" th:text="${updateSuccess}"></span>
            <div class="modal-header">
                <h5 class="modal-title" id="edit_bookingLabel">Edit Registration</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Event</label>
                    <strong th:text="${registration.eventOverview.name}"></strong>
                </div>

                <div class="form-group">
                    <label>Client Name</label>
                    <strong th:text="${registration.userOverview.firstName}+' '+${registration.userOverview.lastName}"></strong>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>People Count</label>
                            <input type="number" class="form-control" name="peopleCount" th:value="${registration.peopleCount}" min="1" required title="People Count">
                            <span style="color: red" th:if="${registrationErrors != null}" th:text="${registrationErrors.get('peopleCount') }"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="custom-select" name="status" id="status" required title="Registration Status">
                                <option th:selected="${registration.status == 'PENDING'}" value="PENDING">Pending</option>
                                <option th:selected="${registration.status == 'APPROVED'}" value="APPROVED">Approved</option>
                                <option th:selected="${registration.status == 'CANCELLED'}" value="CANCELLED">Cancelled</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn_1" value="Edit">
            </div>
        </form>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>