<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Registrations</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="/"><img src="/img/logo_sticky.svg" alt="" width="142" height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="/users/home">
                    <i class="fa fa-fw fa-user"></i>
                    <span class="nav-link-text" th:if="${currentUser != null}" th:text="${currentUser.firstName ?: ''}"></span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav><br>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name == 'CUSTOMER'}"><a href="/users/home">Profile Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Registrations</li>
        </ol>
        <div class="box_general">
            <div class="header_box">
                <h4 class="d-inline-block" th:if="${!registrations.content.isEmpty()}">Registrations</h4>
            </div>
            <div style="height: 300px; text-align: center" th:if="${registrations.content.isEmpty()}">
                <h7>There are no registrations.</h7>
            </div>
            <li th:if="${errorMessageRegistration != null}" th:text="${errorMessageRegistration}" style="height: 300px; text-align: center"></li>
            <li th:if="${errorMessageEdit != null}" th:text="${errorMessageEdit}" style="height: 300px; text-align: center"></li>
            <li th:if="${errorMessageDelete != null}" th:text="${errorMessageDelete}" style="height: 300px; text-align: center"></li>
            <div class="list_general" th:if="${!registrations.content.isEmpty()}">
                <ul th:each="registration:${registrations.content}">
                    <li>
                        <figure><img th:if="${registration.eventOverview.pictures != null && !registration.eventOverview.pictures.isEmpty()}"
                                th:src="@{/events/getImages(fileName=${registration.eventOverview.pictures.get(0)})}">
                        </figure>
                        <h4 th:text="${registration.eventOverview.name}"></h4>
                        <strong th:if="${registration.status=='PENDING'}"><i class="pending">Pending</i></strong>
                        <strong th:if="${registration.status=='APPROVED'}"><i class="approved">Approved</i></strong>
                        <strong th:if="${registration.status=='CANCELLED'}"><i class="cancel">Cancelled</i></strong>
                        <ul class="booking_list">
                            <li>
                                <strong>People Count</strong>
                                <strong th:text="${registration.peopleCount}+''+' people '"></strong>
                            </li>
                            <li>
                                <strong>Client First Name</strong>
                                <strong th:text="${registration.userOverview.firstName}"></strong>
                            </li>
                            <li>
                                <strong>Client Last Name</strong>
                                <strong th:text="${registration.userOverview.lastName}"></strong>
                            </li>
                        </ul>
                        <ul class="buttons">
                            <li th:if="${(currentUser.role.name == 'ADMIN' && adminRegistrations != true) || (currentUser.role.name == 'OWNER' && ownerRegistrations == true)}">
                                <a th:href="@{'/registrations/edit/'+ ${registration.id}}" class="btn_1 gray approved">
                                <i class="fa fa-fw fa-pencil"></i> Edit </a>
                            </li><br>
                            <li th:if="${currentUser.role.name == 'ADMIN' && adminRegistrations != true}">
                                <a th:href="@{'/registrations/delete/'+ ${registration.id}}" class="btn_1 gray delete">
                                <i class="fa fa-fw fa-times-circle-o"></i> Cancel </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <table class="pagination_fg" th:if="${!registrations.content.isEmpty()}">
                <tr class="page-item" th:if="${registrations.totalPages > 0}">
                    <th th:each="pageNumber :${totalPages}">
                        <a th:href="@{${#request.requestURI}(size=${registrations.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber == registrations.number + 1 ? 'active' : ''}"></a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>
