<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Basket</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name == 'CUSTOMER'}"><a href="/users/home">Profile Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Basket</li>
        </ol>
        <div style="height: 300px; text-align: center" th:if="${baskets == null || baskets.content.isEmpty()}"><br>
            <h7>No Items in Basket Yet.</h7>
        </div>
        <span style="color: red" th:if="${errorMessageAddOrder!=null}" th:text="${errorMessageAddOrder}"></span><br>
        <span style="color: red" th:if="${errorMessageDeleteBasket!=null}" th:text="${errorMessageDeleteBasket}"></span><br>

        <div class="card mb-3" th:if="${baskets != null && !baskets.content.isEmpty()}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="basket: ${baskets}">
                            <div>
                                <tr>
                                    <td th:text="${basket.productOverview.name}"></td>
                                    <td th:text="${basket.itemQuantity}"></td>
                                    <td th:text="${basket.productOverview.price}"></td>
                                    <td th:text="${basket.itemQuantity*basket.productOverview.price}"></td>
                                    <td><a th:href="@{'/baskets/delete/'+ ${basket.productOverview.id}}">Remove</a></td>
                                </tr>
                                <tr th:if="${basket != null &&
                                basket.productOverview != null &&
                                basket.productOverview.productCount > 0 &&
                                basket.itemQuantity > 0 &&
                                basket.productOverview.productCount < basket.itemQuantity}">
                                    <td colspan="6">Item quantity in Stock: <span th:text="${basket.productOverview.productCount}"></span>. You can only order that many items.</td>
                                </tr>

                                <tr th:if="${basket != null &&
                                basket.productOverview != null &&
                                basket.productOverview.productCount <= 0 &&
                                basket.itemQuantity > 0}">
                                    <td colspan="6">Item is currently out of stock. You cannot order this product.</td>
                                </tr>
                            </div>
                        </div>
                        </tbody>
                    </table>
                    <a class="btn_1 full-width mb_5" href="/orders/add" onclick="checkProductsInStock(event)">Order Now</a>
                    <table class="pagination_fg">
                        <tr class="page-item" th:if="${baskets.totalPages > 0}">
                            <th th:each="pageNumber :${totalPages}">
                                <a th:href="@{${#request.requestURI}(size=${baskets.size}, page=${pageNumber})}"
                                   th:text="${pageNumber}"
                                   th:class="${pageNumber == baskets.number + 1 ? 'active' : ''}"></a>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
<script>
    function checkProductsInStock(event) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: '/baskets/products-in-stock',
            success: function(response, textStatus,xhr) {
                console.log(response)
                if (xhr.status === 204) {
                    alert("Products are out of stock.");
                } else if (xhr.status === 200) {
                    window.location.href = '/orders/add';
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error("Error checking product in stock:", error);
                alert("Error checking product in stock. Please try again.");
                return false;
            }
        });
        return false;
    }
</script>
</body>
</html>