<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Cycle Goods">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods</title>
    <th:block th:insert="~{fragments/fragment::headerImport}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/fragment::header}"></th:block>
<main class="bg_gray pattern">
    <div class="container margin_60_40">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="sign_up">
                    <div class="head"><div class="title"><h3 style="margin-left: 13px;">Sign Up</h3></div></div>
                    <div class="main">
                        <div th:if="${registrationError != null || verificationError != null}">
                            <span style="color: red; display: block; margin-bottom: 5px; margin-left: 17px;" th:text="${registrationError != null ? registrationError : verificationError}"></span>
                        </div>
                        <form action="/users/add" method="post">

                            <span style="color: red; margin-left: 17px;" th:if="${userErrors != null}" th:text="${userErrors.get('firstName')}"></span>
                            <div class="form-group" style="display: flex; align-items: center;">
                                <i class="icon_pencil"></i>
                                <span style="color: red;">*</span>
                                <input class="form-control" type="text" th:field="${user.firstName}" placeholder="First Name" required title="First Name"/>
                            </div>

                            <span style="color: red; margin-left: 17px;" th:if="${userErrors != null}" th:text="${userErrors.get('lastName')}"></span>
                            <div class="form-group" style="display: flex; align-items: center;">
                                <i class="icon_pencil"></i>
                                <span style="color: red;">*</span>
                                <input class="form-control" type="text" th:field="${user.lastName}" placeholder="Last Name" required title="Last Name"/>
                            </div>

                            <span style="color: red; margin-left: 17px;" th:if="${errorMessageEmail != null}" th:text="${errorMessageEmail}"></span>
                            <span style="color: red; margin-left: 17px;" th:if="${userErrors != null}" th:text="${userErrors.get('email')}"></span>
                            <div class="form-group" style="display: flex; align-items: center;">
                                <i class="icon_mail"></i>
                                <span style="color: red;">*</span>
                                <input class="form-control" type="email" th:field="${user.email}" placeholder="Email Address" required title="Email Address"/>
                            </div>

                            <span style="color: red; margin-left: 17px; display: inline-block;" th:if="${userErrors != null}" th:text="${userErrors.get('password')}"></span>
                            <div class="form-group add_bottom_15" style="display: flex; align-items: center;">
                                <i class="icon_lock"></i>
                                <span style="color: red;">*</span>
                                <input class="form-control" type="password" th:field="${user.password}" placeholder="Password" required title="Password"/>
                            </div>

                            <input style="margin-left: 17px;" type="submit" value="Sign up Now">
                            <div class="form-group" style="border: 1px solid #ddd; padding: 15px; margin-bottom: 30px; margin-left: 17px;">
                                <h7 style="color: darkgreen;">After registration, please check your email for a confirmation link to complete the registration process.</h7>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="~{fragments/fragment::footer}"></th:block>
<div id="toTop"></div>
<div class="layer"></div>
<th:block th:insert="~{fragments/fragment::signInModal}"></th:block>
<th:block th:insert="~{fragments/fragment::commonScripts}"></th:block>
</body>
</html>