<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods</title>
    <th:block th:insert="~{fragments/fragmentUser::headerImport}"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="~{fragments/fragmentUser::navigation}"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-bar-chart"></i>Personal Information</h2>
                <div>
                    <span style="color: red; display: block; margin-bottom: 5px;" th:if="${errorMessageEdit!=null}" th:text="${errorMessageEdit}"></span>
                </div>
            </div>
            <div>
                <div id="message-register"></div>
                <form th:action="@{'/users/edit/' + ${user.id}}" method="post">
                    <h6>Update First Name and Last Name</h6>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" th:value="${user.firstName}" placeholder="Enter your first name" name="firstName" title="First Name"/>
                                <span style="color: red" th:if="${userErrors != null}" th:text="${userErrors.get('firstName')}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" th:value="${user.lastName}" placeholder="Enter your last name" name="lastName" title="Last Name"/>
                                <span style="color: red" th:if="${userErrors != null}" th:text="${userErrors.get('lastName')}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center"><input type="submit" class="btn_1" value="Change"></div>
                </form>
            </div>
            <span style="color: red" th:if="${errorMessagePassword!=null}" th:text="${errorMessagePassword}"></span><br>
            <form th:action="@{'/users/changePassword/' + ${user.id}}" method="post">
                <h6>Change Password</h6>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Current Password" name="oldPassword" required title="Current Password"/>
                            <span style="color: red" th:if="${userErrors != null}" th:text="${userErrors.get('oldPassword')}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="New Password" name="newPassword1" required title="New Password"/>
                            <span style="color: red" th:if="${userErrors != null}" th:text="${userErrors.get('newPassword1')}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm New Password" name="newPassword2" required title="New Password"/>
                            <span style="color: red" th:if="${userErrors != null}" th:text="${userErrors.get('newPassword2')}"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn_1" value="Change Password">
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/fragmentUser::footer}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::scroll}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::logoutModal}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::scripts}"></th:block>
</body>
</html>