<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - User</title>
    <th:block th:insert="~{fragments/fragmentUser::headerImport}"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="~{fragments/fragmentUser::navigation}"></th:block>
<div class="content-wrapper">
    <div class="container-fluid" th:if="${currentUser.role.name == 'CUSTOMER'}">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name == 'OWNER'}"><a href="/users/profile">Profile Page</a></li>
        </ol>
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-bar-chart"></i>Personal Information</h2>
                <div>
                    <table>
                        <tr>
                            <h6 th:text="${currentUser.firstName}"></h6>
                            <h6 th:text="${currentUser.lastName}"></h6>
                            <h6 th:text="${currentUser.email}"></h6>
                        </tr>
                    </table>
                    <span style="color: red; display: block; margin-bottom: 5px;" th:if="${errorMessageEdit!=null}" th:text="${errorMessageEdit}"></span>
                    <span style="color: red; display: block; margin-bottom: 5px;" th:if="${errorMessagePassword!=null}" th:text="${errorMessagePassword}"></span>
                </div>
            </div>
            <a th:href="@{'/users/edit/' + ${currentUser.id}}">Personal Information Editing</a>
        </div>
    </div>
    <div class="container-fluid" th:if="${currentUser.role.name == 'OWNER'}">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name == 'OWNER'}"><a href="/users/profile">Profile Page</a></li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card dashboard text-white bg-success o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-calendar-check-o"></i>
                        </div>
                        <div class="mr-5">
                            <h5>Registrations</h5>
                        </div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="/registrations">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card dashboard text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon"><i class="fa fa-fw fa-star"></i></div>
                        <div class="mr-5">
                            <h5>Orders</h5>
                        </div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="/orders">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card dashboard text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-credit-card"></i>
                        </div>
                        <div class="mr-5">
                            <h5>Payments</h5>
                        </div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="/payments">
                        <span class="float-left">View Details</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card dashboard text-white bg-success o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-shopping-basket"></i>
                        </div>
                        <div class="mr-5">
                            <h5>Basket</h5>
                        </div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="/baskets/all-baskets">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card dashboard text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-calendar"></i>
                        </div>
                        <div class="mr-5">
                            <h5>Events</h5>
                        </div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="/events/events">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/fragmentUser::footer}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::scroll}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::logoutModal}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::scripts}"></th:block>
</body>
</html>