<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Users</title>
    <th:block th:insert="~{fragments/fragmentUser::headerImport}"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="~{fragments/fragmentUser::navigation}"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Registrations</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header"><i class="fa fa-table"></i>User</div>
            <div style="height: 300px; text-align: center" th:if="${users.content.isEmpty()}"><h6>No users found.</h6></div>
            <div th:if="${errorMessageDelete != null}" style="color: red;" th:text="${errorMessageDelete}"></div>
            <div class="card-body" th:if="${!users.content.isEmpty()}">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <tr th:each="user: ${users.content}">
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.role}"></td>
                            <td>
                                <a th:href="@{'/users/delete/'+ ${user.id}}">
                                    <strong>Delete</strong>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <tr class="page-item" th:if="${users.totalPages > 0}">
                            <th th:each="pageNumber :${totalPages}">
                                <a th:href="@{/users(size=${users.size}, page=${pageNumber})}" th:text="${pageNumber}" th:class="${pageNumber==users.number + 1} ? active"></a>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/fragmentUser::footer}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::scroll}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::logoutModal}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::scripts}"></th:block>
</body>
</html>