<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - User Profile</title>
    <th:block th:insert="~{fragments/fragmentUser::headerImport}"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="/"><img src="/img/logo_sticky.svg" alt="" width="142" height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="/users/home">
                    <i class="fa fa-fw fa-user"></i>
                    <span class="nav-link-text" th:if="${currentUser != null}" th:text="${currentUser.firstName ?: ''}"></span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav><br>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/users/home">Work Page</a></li>
    </ol>
    <div class="box_general padding_bottom">
        <div class="header_box version_2">
            <h2><i class="fa fa-bar-chart"></i>Personal Information</h2>
            <div>
                <table>
                    <tr>
                        <h6 th:text="${currentUser.firstName}"></h6>
                        <h6 th:text="${currentUser.lastName}"></h6>
                        <h6 th:text="${currentUser.email}"></h6>
                    </tr>
                </table>
                <span style="color: red; display: block; margin-bottom: 5px;" th:if="${errorMessageEdit!=null}" th:text="${errorMessageEdit}"></span>
                <span style="color: red; display: block; margin-bottom: 5px;" th:if="${errorMessagePassword!=null}" th:text="${errorMessagePassword}"></span>
            </div>
        </div>
        <a th:href="@{'/users/edit/' + ${currentUser.id}}">Personal Information Editing</a>
    </div>
    <div th:if="${currentUser.role.name == 'OWNER'}" class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card dashboard text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-calendar-check-o"></i>
                    </div>
                    <div class="mr-5">
                        <h5>My Registrations</h5>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/registrations/user-registrations">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card dashboard text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon"><i class="fa fa-fw fa-star"></i></div>
                    <div class="mr-5">
                        <h5>My Orders</h5>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/orders/user-orders">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card dashboard text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-credit-card"></i>
                    </div>
                    <div class="mr-5">
                        <h5>My payments</h5>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/payments/user-payments">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card dashboard text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-shopping-basket"></i>
                    </div>
                    <div class="mr-5">
                        <h5>My Basket</h5>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/baskets">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card dashboard text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-briefcase"></i>
                    </div>
                    <div class="mr-5">
                        <h5>My Companies</h5>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/companies/user-companies">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card dashboard text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-th"></i>
                    </div>
                    <div class="mr-5">
                        <h5>My Products</h5>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/products/myproducts">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/fragmentUser::footer}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::scroll}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::logoutModal}"></th:block>
<th:block th:insert="~{fragments/fragmentUser::scripts}"></th:block>
</body>
</html>