<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<th:block th:fragment="headerImport">
    <link rel="shortcut icon" href="/img/logo_sticky.svg" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="//img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="//img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="//img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="//img/apple-touch-icon-144x144-precomposed.png">
    <link href="/admin_section/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin_section/css/admin.css" rel="stylesheet">
    <link href="/admin_section/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/admin_section/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/admin_section/css/custom.css" rel="stylesheet">
</th:block>

<th:block th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
        <a class="navbar-brand" href="/"><img src="/img/logo_sticky.svg" alt="" width="142" height="36"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
                    <a class="nav-link" href="/">
                        <i class="fa fa-home"></i>
                        <span class="nav-link-text">Home</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
                    <a class="nav-link" href="/users/home">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">My Profile</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="See All Companies">
                    <a class="nav-link" href="/companies">
                        <i class="fa fa-fw fa-list-ul"></i>
                        <span class="nav-link-text">Companies</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add a New Company">
                    <a class="nav-link" href="/companies/add">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Add a New Company</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="See all Types of Company">
                    <a class="nav-link" href="/companyCategories">
                        <i class="fa fa-fw fa-list-ul"></i>
                        <span class="nav-link-text">Types of Companies</span>
                    </a>
                </li>

                <li th:if="${currentUser != null && currentUser.role != null && currentUser.role.name == 'ADMIN'}"
                    class="nav-item" data-toggle="tooltip" data-placement="right" title="Add a New Type of Company">
                    <a class="nav-link" href="/companyCategories/add">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Add a New Type of Company</span>
                    </a>
                </li>
                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="See all Events">
                    <a class="nav-link" th:href="${currentUser != null && currentUser.role != null && currentUser.role.name == 'ADMIN' ? '/events/events' : '/events'}">
                        <i class="fa fa-fw fa-list-ul"></i>
                        <span class="nav-link-text">Events</span>
                    </a>
                </li>

                <li th:if="${(currentUser != null && currentUser.role != null) && (currentUser.role.name == 'ADMIN' || currentUser.role.name == 'OWNER')}"
                    class="nav-item" data-toggle="tooltip" data-placement="right" title="Add a New Event">
                    <a class="nav-link" href="/events/add">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Add a New Event</span>
                    </a>
                </li>

                <li th:if="${currentUser != null && currentUser.role != null && currentUser.role.name != 'CUSTOMER'}"
                    class="nav-item" data-toggle="tooltip" data-placement="right" title="See All Types of Product">
                    <a class="nav-link" href="/productCategories">
                        <i class="fa fa-fw fa-list-ul"></i>
                        <span class="nav-link-text">Types of Product</span>
                    </a>
                </li>

                <li th:if="${currentUser != null && currentUser.role != null && currentUser.role.name == 'ADMIN'}"
                    class="nav-item" data-toggle="tooltip" data-placement="right" title="Add a New Type of Product ">
                    <a class="nav-link" href="/productCategories/add">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Add a New Type of Product</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Listings">
                    <a class="nav-link " href="/products">
                        <i class="fa fa-fw fa-list"></i>
                        <span class="nav-link-text">Products</span>
                    </a>
                </li>

                <li th:if="${currentUser != null && currentUser.role != null && currentUser.role.name != 'CUSTOMER'}"
                    class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing + Menu List">
                    <a class="nav-link" href="/products/add">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Add Product</span>
                    </a>
                </li>

                <li th:if="${currentUser != null && currentUser.role != null && currentUser.role.name == 'CUSTOMER'}"
                    class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Registrations">
                    <a class="nav-link" href="/registrations/user-registrations">
                        <i class="fa fa-fw fa-calendar-check-o"></i>
                        <span class="nav-link-text">My Registrations</span>
                    </a>
                </li>

                <li th:if="${currentUser != null && currentUser.role != null && currentUser.role.name == 'CUSTOMER'}"
                    class="nav-item" data-toggle="tooltip" data-placement="right" title="Orders Page">
                    <a class="nav-link" href="/orders/user-orders">
                        <i class="fa fa-fw fa-star"></i>
                        <span class="nav-link-text">My Orders</span>
                    </a>
                </li>

                <li th:if="${currentUser != null && currentUser.role != null && currentUser.role.name == 'CUSTOMER'}"
                    class="nav-item" data-toggle="tooltip" data-placement="right" title="Payments">
                    <a class="nav-link" href="/payments/user-payments">
                        <i class="fa fa-fw fa-credit-card"></i>
                        <span class="nav-link-text">My payments</span>
                    </a>
                </li>

                <li th:if="${currentUser != null && currentUser.role != null && currentUser.role.name == 'CUSTOMER'}"
                    class="nav-item" data-toggle="tooltip" data-placement="right" title="My Basket">
                    <a class="nav-link" href="/baskets">
                        <i class="fa fa-fw fa-shopping-basket"></i>
                        <span class="nav-link-text">My Basket</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tooltip" href="/users/home">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text" th:if="${currentUser != null}" th:text="${currentUser.firstName ?: ''}"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i
                            class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>

<th:block th:fragment="footer">
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center"></div>
        </div>
    </footer>
</th:block>

<th:block th:fragment="scroll">
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</th:block>

<th:block th:fragment="logoutModal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="scripts">
    <script src="/admin_section/vendor/jquery/jquery.min.js"></script>
    <script src="/admin_section/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin_section/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/admin_section/vendor/chart.js/Chart.js"></script>
    <script src="/admin_section/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/admin_section/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/admin_section/vendor/jquery.magnific-popup.min.js"></script>
    <script src="/admin_section/js/admin.js"></script>
    <script src="/admin_section/js/admin-charts.js"></script>
</th:block>