<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<body>
<th:block th:fragment="headerImport">
    <link rel="shortcut icon" href="/img/logo_sticky.svg" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preload" href="../css?family=Poppins:300,400,500,600,700&display=swap" as="fetch" crossorigin="anonymous">
    <script type="text/javascript">
        !function (e, n, t) {
            "use strict";
            var o = "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap",
                r = "__3perf_googleFonts_c2536";

            function c(e) {
                (n.head || n.body).appendChild(e)
            }

            function a() {
                var e = n.createElement("link");
                e.href = o, e.rel = "stylesheet", c(e)
            }

            function f(e) {
                if (!n.getElementById(r)) {
                    var t = n.createElement("style");
                    t.id = r, c(t)
                }
                n.getElementById(r).innerHTML = e
            }

            e.FontFace && e.FontFace.prototype.hasOwnProperty("display") ? (t[r] && f(t[r]), fetch(o).then(function (e) {
                return e.text()
            }).then(function (e) {
                return e.replace(/@font-face {/g, "@font-face{font-display:swap;")
            }).then(function (e) {
                return t[r] = e
            }).then(f).catch(a)) : a()
        }(window, document, localStorage);
    </script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/admin_section/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="#" id="colors" rel="stylesheet">
</th:block>

<th:block th:fragment="header">
    <header class="header_in clearfix">
        <div class="container">
            <div id="logo">
                <a href="/">
                    <img src="/img/logo_sticky.svg" width="140" height="35" alt="" class="logo_sticky">
                </a>
            </div>
            <ul id="top_menu">
                <th:block th:if="${currentUser == null}">
                    <li><a href="#sign-in-dialog" id="sign-in" class="login">Sign In</a></li>
                </th:block>
                <th:block th:if="${currentUser != null}" class="drop_user">
                    <li>
                        <div class="dropdown user clearfix">
                            <a style href="#" data-bs-toggle="dropdown">
                                <span th:text="${currentUser.firstName}"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu-content">
                                    <ul>
                                        <li><a href="/users/home" th:if="${currentUser != null && currentUser.role.name != null && currentUser.role.name == 'CUSTOMER'}"><i class="fa fa-fw fa-user"></i>Profile Page</a></li>
                                        <li><a href="/users/home" th:if="${currentUser != null && currentUser.role.name != null && currentUser.role.name != 'CUSTOMER'}"><i class="fa fa-fw fa-briefcase"></i>Work Page</a></li>
                                        <li><a href="/users/profile" th:if="${currentUser != null && currentUser.role.name != null && currentUser.role.name != 'CUSTOMER'}"><i class="fa fa-fw fa-user"></i>Profile Page</a></li>
                                        <li><a href="/logout"><i class="icon_key"></i>Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </th:block>
            </ul>
            <a href="#0" class="open_close">
                <i class="icon_menu"></i>
                <span>Menu</span>
            </a>
            <nav class="main-menu">
                <div id="header_menu">
                    <a href="#0" class="open_close">
                        <i class="icon_close"></i>
                        <span>Menu</span>
                    </a>
                    <a href="/"><img src="/img/logo_sticky.svg" width="140" height="35" alt=""></a>
                </div>
                <ul>
                    <li class="submenu">
                        <a href="/" class="show-submenu">Home</a>
                    </li>
                    <li class="submenu">
                        <a href="/products" class="show-submenu">Products</a>
                    </li>
                    <li class="submenu">
                        <a href="/companies" class="show-submenu">Companies</a>
                    </li>
                    <li class="submenu">
                        <a href="/events" class="show-submenu">Events</a>
                    </li>
                    <li class="submenu" th:if="${currentUser != null}">
                        <a href="/baskets" class="show-submenu">Basket
                            <span th:if="${basketCount > 0}" style="color: red;" class="basket-count" th:text="'(' + ${basketCount} + ')'"></span>
                        </a>
                    </li>
                    <li class="submenu">
                        <a href="/companies/add">Register Company</a>
                    </li>
                    <li class="submenu" th:if="${currentUser == null}">
                        <a href="/users/add" class="show-submenu">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</th:block>

<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h3 data-bs-target="#collapse_3">Contacts</h3>
                    <div class="collapse dont-collapse-sm contacts" id="collapse_3">
                        <ul>
                            <li><i class="icon_house_alt"></i>Yeznik Koghbatsi St. 16<br>Yerevan - Armenia</li>
                            <li><i class="icon_mobile"></i>+374 (99) 12 91 73</li>
                            <li><i class="icon_mail_alt"></i><a href="#0">info@greenCycleGoods.com</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:fragment="signInModal">
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="modal_header">
            <h3>Sign In</h3>
        </div>
        <form th:action="@{/login}" method="post">
            <div class="sign-in-wrapper">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="username" id="email">
                    <i class="icon_mail_alt"></i>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" id="password" value="">
                    <i class="icon_lock_alt"></i>
                </div>
                <div class="clearfix add_bottom_15">
                    <div class="float-end"><a id="forgot" href="/users/add">Forgot Password?</a></div>
                </div>
                <div class="text-center">
                    <input type="submit" value="Log In" class="btn_1 full-width mb_5">
                    Don’t have an account? <a href="/users/add">Sign up</a>
                </div>
                <div id="forgot_pw">
                    <div class="form-group">
                        <label>Please confirm login email below</label>
                        <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                        <i class="icon_mail_alt"></i>
                    </div>
                    <p>You will receive an email containing a link allowing you to reset your password to a new
                        preferred one.</p>
                    <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
                </div>
            </div>
        </form>
    </div>
</th:block>

<th:block th:fragment="commonScripts">
    <script src="/js/common_scripts.min.js"></script>
    <script src="/js/common_func.js"></script>
    <script src="/assets/validate.js"></script>
</th:block>

<th:block th:fragment="colorSwitcher">
    <script src="/js/switcher.js"></script>
    <div id="style-switcher">
        <h6>Color Switcher
            <a href="#">
            <i class="icon_cog"></i>
            </a>
        </h6>
        <div>
            <ul class="colors" id="color1">
                <li><a href="#" class="default" title="Default"></a></li>
                <li><a href="#" class="aqua" title="Aqua"></a></li>
                <li><a href="#" class="orange" title="Orange"></a></li>
                <li><a href="#" class="beige" title="Beige"></a></li>
                <li><a href="#" class="gray" title="Gray"></a></li>
                <li><a href="#" class="green-2" title="Green"></a></li>
                <li><a href="#" class="purple" title="Purple"></a></li>
                <li><a href="#" class="red" title="Red"></a></li>
                <li><a href="#" class="violet" title="Violet"></a></li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>