<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Payment</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Payment</li>
        </ol>
        <div class="box_general pb-3">
            <div class="header_box">
                <h2 th:if="${currentUser != null && currentUser.role.name == 'ADMIN'}" class="d-inline-block">Edit Payment Information: Date and Status</h2>
                <h2 th:if="${currentUser != null && currentUser.role.name != 'ADMIN'}" class="d-inline-block">Payment Information: Date and Status</h2>
            </div>
            <div class="list_general order">
                <ul>
                    <li>
                        <div th:if="${errorMessageEditPayment != null || updateSuccess != null}">
                            <span style="color: red" th:if="${errorMessageEditPayment!=null}" th:text="${errorMessageEditPayment}"></span>
                            <span th:if="${updateSuccess != null}" style="color: green" th:text="${updateSuccess}"></span>
                        </div>
                        <strong th:if="${payment.status == 'UNPAID'}"><i class="pending">Unpaid</i></strong>
                        <strong th:if="${payment.status == 'PROCESSING'}"><i class="approved">In progress</i></strong>
                        <strong th:if="${payment.status == 'PAID'}"><i class="approved">Paid</i></strong>
                        <strong th:if="${payment.status == 'FAILED'}"><i class="cancel">Cancelled</i></strong>
                        <strong th:if="${payment.status == null}"><i class="pending">Unclear</i></strong>
                        <ul class="booking_list">
                            <li>
                                <strong>Payer First Name </strong>
                                <strong th:text="${payment.userOverview.firstName}"></strong>
                            </li>
                            <li>
                                <strong>Payer LastName </strong>
                                <strong th:text="${payment.userOverview.lastName}"></strong>
                            </li>
                            <li>
                                <strong>Date and time </strong>
                                <strong th:text="${#temporals.format(payment.paymentCreateDate,'dd-MM-yyyy HH:mm')}"></strong>
                            </li>
                            <li>
                                <strong>Total amount </strong>
                                <strong th:text="${payment.totalAmount}"></strong>
                            </li>
                            <li th:if="${payment.status == 'PAID'}">
                                <strong>Paid at </strong>
                                <strong th:text="${#temporals.format(payment.paymentDate, 'dd-MM-yyyy HH:mm')}"></strong>
                            </li>
                        </ul>
<!--                        <p th:if="${currentUser.role.name == 'ADMIN' || (currentUser.role.name == 'OWNER' && payment.orderOverview.paymentOption == 'CASH' && isOwner != null)}">-->
                        <p th:if="${currentUser.role.name == 'OWNER' && isOwner != null}">
                            <a href="#0" class="btn_1" data-toggle="modal" data-target="#client_detail_modal">
                                <i class="fa fa-fw fa-envelope"></i> Edit Information </a>
                        </p>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                    <div class="modal fade" id="client_detail_modal" tabindex="-1" role="dialog"
                         aria-labelledby="client_detail_modalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form th:action="@{'/payments/edit/'+${payment.id}}" method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="client_detail_modalLabel">Edit</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span style="color: red" th:if="${paymentErrors != null}" th:text="${paymentErrors.get('paymentDate')}"></span>
                                        <div class="form-group">
                                            <label>Paid at</label>
                                            <input type="datetime-local" class="form-control" name="paymentDate" th:value="${payment.paymentDate}">
                                        </div>
                                        <span style="color: red" th:if="${paymentErrors != null}" th:text="${paymentErrors.get('status')}"></span>
                                        <div class="form-group">
                                            <label>Payment status</label>
                                            <div class="styled-select">
                                                <select class="custom-select" name="status" id="status">
                                                        <option value="UNPAID" th:selected="${payment.status == 'UNPAID'}">Unpaid</option>
                                                        <option value="PROCESSING" th:selected="${payment.status == 'PROCESSING'}">In progress</option>
                                                        <option value="PAID" th:selected="${payment.status == 'PAID'}">Paid</option>
                                                        <option value="FAILED" th:selected="${payment.status == 'FAILED'}">Failed</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="Save" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>
