<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Payments</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="/"><img src="/img/logo_sticky.svg" alt="" width="142" height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tooltip" href="/users/home">
                    <i class="fa fa-fw fa-user"></i>
                    <span class="nav-link-text" th:if="${currentUser != null}"
                          th:text="${currentUser.firstName ?: ''}"></span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav><br>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
        <li class="breadcrumb-item active" th:if="${currentUser.role.name == 'CUSTOMER'}"><a href="/users/home">Profile Page</a></li>
        <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
        <li class="breadcrumb-item active">Payments</li>
    </ol>
    <div style="height: 300px; text-align: center" th:if="${payments.content.isEmpty()}">
        <h7>Payment history is empty.</h7>
    </div>
    <span style="color: red" th:if="${errorMessagePayment!=null}" th:text="${errorMessagePayment}"></span><br>
    <div class="card mb-3" th:if="${!payments.content.isEmpty()}">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Payment create date</th>
                        <th>Payer</th>
                        <th>Status</th>
                        <th>Order</th>
                        <th>Total amount</th>
                        <th th:if="${currentUser.role.name == 'OWNER' && ownerPayment != null}">Delete</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="payment:${payments}">
                        <td th:text="${#temporals.format(payment.paymentCreateDate, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${payment.userOverview.firstName+' '+payment.userOverview.lastName}"></td>
                        <td th:if="${payment.status=='UNPAID'}"><i class="pending">Unpaid</i></td>
                        <td th:if="${payment.status=='PROCESSING'}"><i class="approved">In progress</i></td>
                        <td th:if="${payment.status=='PAID'}"><i class="approved">Paid</i></td>
                        <td th:if="${payment.status=='FAILED'}"><i class="cancel">Cancelled</i></td>
                        <td th:if="${payment.status==null}"><i class="pending">Unclear</i></td>
                        <td>
                            <a th:href="@{'/orders/'+ ${payment.orderOverview.id}}"><strong>Order</strong></a>
                        </td>

                        <td th:text="${payment.totalAmount}"></td>

                        <td th:if="${currentUser.role.name == 'OWNER' && ownerPayment != null}">
                            <a th:href="@{'/payments/delete/'+ ${payment.id}}">
                                <strong>Delete</strong>
                            </a>
                        </td>

                        <td th:if="${currentUser.role.name == 'OWNER' && ownerPayment != null}">
                            <a th:href="@{'/payments/' + ${payment.id} + '?isOwner=true'}">
                                <strong>View</strong>
                            </a>
                        </td>
                        <td th:if="${ownerPayment == null}">
                            <a th:href="@{'/payments/' + ${payment.id}}">
                                <strong>View</strong>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="pagination_fg" th:if="${!payments.content.isEmpty()}">
                    <tr class="page-item" th:if="${payments.totalPages > 0}">
                        <th th:each="pageNumber :${totalPages}">
                            <a th:href="@{${#request.requestURI}(size=${payments.size}, page=${pageNumber})}"
                               th:text="${pageNumber}"
                               th:class="${pageNumber == payments.number + 1 ? 'active' : ''}"></a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>
