<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Add Category</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Product Type Addition</li>
        </ol>
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-bar-chart"></i>Add a New Type of Company</h2>
            </div>
            <span style="color: red" th:if="${errorMessageAddCategory!=null}" th:text="${errorMessageAddCategory}"></span><br>
            <div>
                <div id="message-register"></div>
                <form action="/companyCategories/add" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="New Type" name="name" required title="Name"/>
                                <span style="color: red" th:if="${categoryErrors != null}" th:text="${categoryErrors.get('name') }"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn_1" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>