<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Green Cycle Goods - Company Categories</title>
    <th:block th:insert="fragments/fragmentUser::headerImport"></th:block>
</head>
<body class="fixed-nav sticky-footer" id="page-top">
<th:block th:insert="fragments/fragmentUser::navigation"></th:block>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/home">Work Page</a></li>
            <li class="breadcrumb-item active" th:if="${currentUser.role.name == 'CUSTOMER'}"><a href="/users/home">Profile Page</a></li>
            <li class="breadcrumb-item active"th:if="${currentUser.role.name != 'CUSTOMER'}"><a href="/users/profile">Profile Page</a></li>
            <li class="breadcrumb-item active">Company Type</li>
        </ol>

        <div style="height: 300px; text-align: center" th:if="${categories == null || categories.content.isEmpty()}"><br>
            <h7>There are no categories available at the moment.</h7>
        </div>

        <div class="card mb-3" th:if="${categories != null && !categories.content.isEmpty()}">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <span style="color: red" th:if="errorMessageDeleteCategory !=null" th:text="${errorMessageDeleteCategory}"/><br>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th th:if="${currentUser.role.name == 'ADMIN'}">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category:${categories.content}">
                            <td th:text="${category.name}"></td>
                            <td th:if="${currentUser.role.name == 'ADMIN'}">
                                <a th:href="@{'/companyCategories/delete/'+ ${category.id}}">
                                    <strong>Delete</strong>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <tr class="page-item" th:if="${categories.totalPages > 0}">
                            <th th:each="pageNumber :${pageNumbers}">
                                <a th:href="@{/categories(size=${categories.size}, page=${pageNumber})}"
                                   th:text="${pageNumber}"
                                   th:class="${pageNumber==categories.number + 1 ? 'active' : ''}"></a>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/fragmentUser::footer"></th:block>
<th:block th:insert="fragments/fragmentUser::scroll"></th:block>
<th:block th:insert="fragments/fragmentUser::logoutModal"></th:block>
<th:block th:insert="fragments/fragmentUser::scripts"></th:block>
</body>
</html>